#set($columnsToSelect=["CATEGORY_ID"])
#set($columnsToSelectOuter=["CATEGORY_ID"])
#set($groupTables=["dc.GROUP_TYPE_E_RAT_VEND_HIER3"])
#set($groupCondition="dc.GROUP_TYPE_E_RAT_VEND_HIER3.GROUP_NAME = :groupname and tmpTable.HIER3_ID = dc.GROUP_TYPE_E_RAT_VEND_HIER3.HIER3_ID and")
#set($counterColumn="NO_OF_ERRORS")
#set($imsiColumn="IMSI")
#set($impactedSubscribers="TOTAL_NO_OF_SUBSCRIBERS")
#set($useExclusiveTACs="no")

SELECT
    :groupname                     AS 'Group Name',
    category.CATEGORY_DESC         AS 'Handover Type',
    category.CATEGORY_ID           AS 'Category ID',
    rawView.${counterColumn}       AS 'Failures',
    rawView.${impactedSubscribers} AS 'Impacted Subscribers'
FROM
    #REPLACE_RAW_VIEW_WITH_RAW_TABLES_TAC_EXCLUSION_SPECIFY_COLUMNS_CONDITIONED_IMPACTED_SUBSCRIBERS_GROUPS($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "rawView" $columnsToSelect $columnsToSelectOuter $groupTables $groupCondition "" $counterColumn $imsiColumn $impactedSubscribers $useExclusiveTACs) ,
    dc.DIM_E_RAN_HFA_CATEGORY AS category
WHERE
    rawView.CATEGORY_ID = category.CATEGORY_ID
ORDER BY
    Failures DESC