#set($columnsToIncludeInSourceView=["TAC","CATEGORY_ID"])
#set($counterColumn="NO_OF_ERRORS")
#set($imsiColumn="IMSI")
#set($impactedSubscribers="NO_OF_TOTAL_ERR_SUBSCRIBERS")
#set($useExclusiveTACs="no")

SELECT
    groupDef.GROUP_NAME                       AS 'Group Name',
    categoryDesc.CATEGORY_DESC                AS 'Handover Type',
    sourceRawView.CATEGORY_ID                 AS 'Category ID',
    sum(sourceRawView.${counterColumn})       AS 'Failures',
    sum(sourceRawView.${impactedSubscribers}) AS 'Impacted Subscribers'
FROM
    #REPLACE_RAW_VIEW_WITH_RAW_TABLES_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS_AGGREGATE_IMPACTED_SUBSCRIBERS($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "sourceRawView" $columnsToIncludeInSourceView $counterColumn $imsiColumn $impactedSubscribers $useExclusiveTACs)
INNER JOIN GROUP_TYPE_E_TAC groupDef
ON
    (
        sourceRawView.TAC = groupDef.TAC
    )
INNER JOIN dc.DIM_E_RAN_HFA_CATEGORY categoryDesc
ON
    (
        categoryDesc.CATEGORY_ID = sourceRawView.CATEGORY_ID
    )
WHERE
    groupDef.GROUP_NAME = :groupname
GROUP BY
    groupDef.GROUP_NAME,
    sourceRawView.CATEGORY_ID,
    categoryDesc.CATEGORY_DESC
ORDER BY
    Failures DESC