##
## Author : ECHIMMA
## LTE Call Failure Network Event Volume Analysis (using aggregation tables)
##
## Velocity Parameter: 
##		
## Named PreparedStatement Parameter:
##	   	$starttime 		start time
## 		$endtime 		end time
##		$interval 		interval for different timerange
##     	:dateFrom   	starting time
##     	:dateTo     	ending time
##
#DEFINE_CONSTANTS()

begin

select
	dateformat(err.TS, 'yyyy-mm-dd hh:mm:ss.S') as 'TIME',
	isnull(sum (case when err.EVENT_ID = 4097 then isnull(err.FAILURES, 0) end),0) as INTERNAL_PROC_RRC_CONN_SETUP,
	isnull(sum (case when err.EVENT_ID = 4098 then isnull(err.FAILURES, 0) end),0) as INTERNAL_PROC_S1_SIG_CONN_SETUP,
	isnull(sum (case when err.EVENT_ID = 4106 then isnull(err.FAILURES, 0) end),0) as INTERNAL_PROC_INITIAL_CTXT_SETUP,
	isnull(sum (case when err.EVENT_ID = 4099 then isnull(err.FAILURES, 0) end),0) as INTERNAL_PROC_ERAB_SETUP,
	isnull(sum (case when err.EVENT_ID = 4125 then isnull(err.FAILURES, 0) end),0) as INTERNAL_PROC_UE_CTXT_RELEASE
	
from
	(
		select
			tmp_st,
			EVENT_ID,
			isnull(sum(NO_OF_ERRORS), 0) as FAILURES
		from
			$aggregationView
			,#GET_CHART_TIMES($starttime $endtime $interval)
		where        
			DATETIME_ID >= tmp_st
			and DATETIME_ID < tmp_et
			and #GET_DATETIME_RANGE()
		group by
			tmp_st,
			EVENT_ID
	) as err ( TS, EVENT_ID, FAILURES)
where
	dateformat(err.TS, 'yyyy-mm-dd hh:mm:ss.S') is not null
group by
	dateformat(err.TS, 'yyyy-mm-dd hh:mm:ss.S')
order by
	dateformat(err.TS, 'yyyy-mm-dd hh:mm:ss.S')
	
end