##
## WCDMA Call Failure Analysis Cause Code Ranking (using agg tables)
##
## Velocity Parameter: 
##		EVENT_ID:   Corresponding event id for Cause Code Call Setup or Calls Dropped
##
##
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##
#set($aggregationView=$TECH_PACK_LIST.getTechPack("EVENT_E_RAN_CFA").getErrAggregationView())

SELECT 
	#if($count > 0)
	  top $count
	#end
	RANK() Over (ORDER BY Failures DESC) AS Rank, 
	DIM_E_RAN_CFA_CAUSE_VALUE.CAUSE_VALUE_DESC AS 'Cause Code Description', 
	aggView.CAUSE_VALUE AS 'Cause Code ID', 
	sum(aggview.NO_OF_ERRORS) AS Failures
FROM
	$aggregationView as aggview,
	DIM_E_RAN_CFA_CAUSE_VALUE	
WHERE
	aggView.CAUSE_VALUE *= DIM_E_RAN_CFA_CAUSE_VALUE.CAUSE_VALUE and 
	aggView.EVENT_ID = $EVENT_ID
	and
	#GET_DATETIME_RANGE()
GROUP BY 
	DIM_E_RAN_CFA_CAUSE_VALUE.CAUSE_VALUE_DESC,
	aggView.CAUSE_VALUE