##
## WCDMA Call Failure RAB Type Analysis by CELL Hash ID (using raw tables)
##
## Velocity Parameter:
##
## Named PreparedStatement Parameter:
##
##	   :HIER3_CELL_ID:   The cell hash id
##
#DEFINE_CONSTANTS()

#set($whereClause = "AND HIER3_CELL_ID = :HIER3_CELL_ID AND EVENT_ID = :eventID")
#set($useExclusiveTACs="no")
#set($distinct ="")
#set($columnsToIncludeInNewView = ["FAILED_RAB_TYPE","HIER3_CELL_ID", "IMSI","CS_RAB_FAIL_CNT","PS_RAB_FAIL_CNT","MULTI_RAB_FAIL_CNT","CS_ERR_CNT","PS_ERR_CNT","MULTI_ERR_CNT"])


SELECT
	rabtyperef.CATEGORY_ID_DESC as CATEGORY_TYPE,
	SUM(err.NO_OF_ERRORS) AS NO_OF_ERRORS,
	SUM(err.IMPACTED_SUBSCRIBERS) as TOTAL_NO_OF_SUBSCRIBERS,
	HIER3_CELL_ID,
	##CATEGORY_ID value is got from UI and return to UI since it needs for drilling.
	CATEGORY_ID_VALUE AS CATEGORY_ID
	##
FROM
	(
		SELECT 
			SUM(CS_ERR_CNT) AS NO_OF_ERRORS,
			FAILED_RAB_TYPE,
			HIER3_CELL_ID,
			count (distinct rawview.IMSI) AS IMPACTED_SUBSCRIBERS
		FROM
			#REPLACE_RAW_VIEW_WITH_RAW_TABLES_TAC_EXCLUSION_SPECIFY_COLUMNS_CONDITIONED($TECH_PACK_LIST.getAllRawErrTables() "rawview" $columnsToIncludeInNewView $whereClause $useExclusiveTACs $distinct)
		WHERE
			CS_RAB_FAIL_CNT > 0
		GROUP BY
			HIER3_CELL_ID,
			FAILED_RAB_TYPE
		UNION ALL
		SELECT 
			SUM(PS_ERR_CNT) AS NO_OF_ERRORS,
			FAILED_RAB_TYPE,
			HIER3_CELL_ID,
			count (distinct rawview.IMSI) AS IMPACTED_SUBSCRIBERS
		FROM
			#REPLACE_RAW_VIEW_WITH_RAW_TABLES_TAC_EXCLUSION_SPECIFY_COLUMNS_CONDITIONED($TECH_PACK_LIST.getAllRawErrTables() "rawview" $columnsToIncludeInNewView $whereClause $useExclusiveTACs $distinct)
		WHERE
			PS_RAB_FAIL_CNT > 0
		GROUP BY
			HIER3_CELL_ID,
			FAILED_RAB_TYPE
		UNION ALL
		SELECT 
			SUM(MULTI_ERR_CNT) AS NO_OF_ERRORS,
			FAILED_RAB_TYPE,
			HIER3_CELL_ID,
			count (distinct rawview.IMSI) AS IMPACTED_SUBSCRIBERS
		FROM
			#REPLACE_RAW_VIEW_WITH_RAW_TABLES_TAC_EXCLUSION_SPECIFY_COLUMNS_CONDITIONED($TECH_PACK_LIST.getAllRawErrTables() "rawview" $columnsToIncludeInNewView $whereClause $useExclusiveTACs $distinct)
		WHERE
			MULTI_RAB_FAIL_CNT > 0
		GROUP BY
			HIER3_CELL_ID,
			FAILED_RAB_TYPE
	) as err(NO_OF_ERRORS,FAILED_RAB_TYPE,HIER3_CELL_ID,IMPACTED_SUBSCRIBERS)
LEFT OUTER JOIN
    (
        SELECT DISTINCT
            RABTYPE,
            CATEGORY_ID_DESC,
            CATEGORY_ID_VALUE
        FROM
            DIM_E_RAN_RABTYPE) AS rabtyperef
ON
    (
        err.FAILED_RAB_TYPE = rabtyperef.RABTYPE )
GROUP BY
	CATEGORY_TYPE,HIER3_CELL_ID,CATEGORY_ID