##
## WCDMA Call Failure Analysis Sub-Cause Code Analysis
##
## Velocity Parameter:
##
##
## Named PreparedStatement Parameter:
##
##	    :HIER3_ID
##		:CAUSE_VALUE
##		:SUB_CAUSE_VALUE
##
#set($columnsToSelect=["EVENT_TIME, IMSI, TAC, PROCEDURE_INDICATOR, EVALUATION_CASE, EXCEPTION_CLASS, CAUSE_VALUE, EXTENDED_CAUSE_VALUE, HIER3_CELL_ID, lac, rac, HIER3_ID, EVENT_ID"])
SELECT
	#if($count > 0)
		top $count
	#end
	 #if($csv == true)
   	 DATEADD(minute,$tzOffset,rawview.EVENT_TIME)AS 'Event Time',
   	#else
   	rawview.EVENT_TIME AS 'Event Time',
   	#end
	rawview.IMSI as 'IMSI',
	rawview.TAC as 'TAC',
	DIM_E_SGEH_TAC.MANUFACTURER AS 'Terminal Make', 
	DIM_E_SGEH_TAC.MARKETING_NAME AS 'Terminal Model', 
	DIM_E_SGEH_HIER321_CELL.CELL_ID AS 'Access Area',
	DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID_ALTERNATE_DESC as 'Event Type',
	DIM_E_RAN_CFA_PROCEDURE_INDICATOR.PROCEDURE_INDICATOR_DESC AS 'Procedure Indicator',
    DIM_E_RAN_CFA_EVALUATION_CASE.EVALUATION_CASE_DESC AS 'Evaluation Case',
    DIM_E_RAN_CFA_EXCEPTION_CLASS.EXCEPTION_CLASS_DESC AS 'Exception Class',
    rawview.lac AS 'LAC',
    rawview.rac AS 'RAC',
	DIM_E_SGEH_HIER321_CELL.VENDOR as 'Vendor',
	  :groupname As groupname
FROM
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawErrTables() "rawview" $columnsToSelect),
	GROUP_TYPE_E_RAT_VEND_HIER321_CELL,
	DIM_E_SGEH_TAC,
	DIM_E_RAN_CFA_EVENTTYPE,
	DIM_E_SGEH_HIER321_CELL,
	DIM_E_RAN_CFA_PROCEDURE_INDICATOR,
    DIM_E_RAN_CFA_EVALUATION_CASE,
    DIM_E_RAN_CFA_EXCEPTION_CLASS,
    DIM_E_RAN_CFA_CAUSE_VALUE,
    DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE,	
WHERE
    GROUP_TYPE_E_RAT_VEND_HIER321_CELL.GROUP_NAME = :groupname and
	GROUP_TYPE_E_RAT_VEND_HIER321_CELL.HIER3_CELL_ID=rawview.HIER3_CELL_ID and    
    rawview.CAUSE_VALUE = :CAUSE_CODE and
    rawview.EXTENDED_CAUSE_VALUE = :SUBCAUSE_CODE and
    rawview.TAC *= DIM_E_SGEH_TAC.TAC and
    rawview.PROCEDURE_INDICATOR *= DIM_E_RAN_CFA_PROCEDURE_INDICATOR.PROCEDURE_INDICATOR and
    rawview.EVALUATION_CASE *= DIM_E_RAN_CFA_EVALUATION_CASE.EVALUATION_CASE and
    rawview.EXCEPTION_CLASS *= DIM_E_RAN_CFA_EXCEPTION_CLASS.EXCEPTION_CLASS and
    rawview.CAUSE_VALUE *= DIM_E_RAN_CFA_CAUSE_VALUE.CAUSE_VALUE and
    rawview.EXTENDED_CAUSE_VALUE *= DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE.EXTENDED_CAUSE_VALUE and
    rawview.EVENT_ID *= DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID and
    rawview.HIER3_CELL_ID = DIM_E_SGEH_HIER321_CELL.HIER3_CELL_ID
ORDER BY
    rawview.EVENT_TIME desc