##
## Author : ECHIMMA
## LTE Call Failure QOS QCI eCell Event Summary Analysis (using aggregation tables)
##
## Velocity Parameter: 
##		
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##

#set($conditionColumns=["HIER321_ID", "QCI_ID", "CATEGORY_ID"])
#set($columnsToSelect=["IMSI", "EVENT_ID"])
#set($columnsToIncludeInNewView=["EVENT_ID", "HIER321_ID"])

SELECT
	#if($count > 0)
	  top $count
	#end
	:HIER321_ID as HIER321_ID,
	:QCI_ID as QCI_ID,
	aggView.EVENT_ID as EVENT_ID,
	dc.DIM_E_LTE_CFA_EVENTTYPE.EVENT_ID_DESC as 'Event Type',
	aggView.NO_OF_ERRORS as Failures,
	subscribers.IMPACTED_SUBSCRIBERS as 'Impacted Subscribers',
	topology.HIERARCHY_1 as 'Access Area',
	topology.HIERARCHY_3 AS 'Controller',
	topology.VENDOR AS 'Vendor'
FROM
	#UNION_ALL_AGGREGATION_VIEWS_WITH_SPECIFIC_COLUMNS_POST_AGGREGATE_WITH_CONDITION($aggregationViewList "aggView" $columnsToIncludeInNewView "NO_OF_ERRORS" $conditionColumns)
left outer join
	(
		select
			:HIER321_ID as HIER321_ID,
			count(distinct rawview.IMSI) as IMPACTED_SUBSCRIBERS,
			EVENT_ID
		from
			#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "rawview" $conditionColumns $columnsToSelect)
		group by
			EVENT_ID
	) as subscribers
on
	(aggView.EVENT_ID = subscribers.EVENT_ID)
inner join
	dc.DIM_E_LTE_CFA_EVENTTYPE
on
	dc.DIM_E_LTE_CFA_EVENTTYPE.EVENT_ID = aggView.EVENT_ID
left outer join (
		select 
			HIERARCHY_1,
			HIERARCHY_3,
			HIER321_ID,
			VENDOR
		from 
			dc.DIM_E_LTE_HIER321
		where 
			HIER321_ID = :HIER321_ID	
		group by
			HIER321_ID,
        	HIERARCHY_1,
        	HIERARCHY_3,
			VENDOR
	) as topology
	on (
		topology.HIER321_ID = isnull(aggView.HIER321_ID,subscribers.HIER321_ID)
		)