#DEFINE_CONSTANTS()

#macro(SCCAS_QUERY_BY_CC $errTable $ccTable $sccTable $cptTable)
(
select	
	cptref.CAUSE_PROT_TYPE, 
	ccref.CAUSE_CODE, 
	sccref.SUBCAUSE_CODE, 
	SUBCAUSE_CODE_DESC || ' (' || CAUSE_PROT_TYPE_DESC || ')', 
	count(*),
	IMSI
from
	dc.${errTable} errRef,
	dc.${ccTable} ccref,
	dc.${sccTable} sccref,
	dc.${cptTable} cptref
	#GROUP_TABLE_INFO()
where
	#GET_DATETIME_RANGE()
	#GROUP_OR_SINGLE_INFO()
	and #GET_TAC_EXCLUSION()
	and cptref.CAUSE_PROT_TYPE = errRef.CAUSE_PROT_TYPE
	and ccref.CAUSE_CODE = errRef.CAUSE_CODE
	and ccref.CAUSE_PROT_TYPE = errRef.CAUSE_PROT_TYPE
	and sccref.SUBCAUSE_CODE = errRef.SUBCAUSE_CODE
	and errRef.CAUSE_CODE = :CAUSE_CODE
group by
	ccref.CAUSE_CODE,
	sccref.SUBCAUSE_CODE,
	SUBCAUSE_CODE_DESC,
	cptref.CAUSE_PROT_TYPE,
	CAUSE_PROT_TYPE_DESC,
	IMSI
)
#end

select
	err.CAUSE_PROT_TYPE as CAUSE_PROT_TYPE,
	err.CAUSE_CODE as CAUSE_CODE,
	err.SUBCAUSE_CODE as SUBCAUSE_CODE,
	err.SUBCAUSE_CODE_DESC as SUBCAUSE_CODE_DESC,
	whatnextTable.advice as whatnext,
	sum(isnull(err.NO_OF_ERRORS, 0)) as NO_OF_ERRORS,
	isnull(count(distinct(IMSI)),0) as NO_OF_TOTAL_ERR_SUBSCRIBERS		
from (
	#foreach ($errtable in $rawErrTables)
		#if ($errtable.toString().indexOf($ApplicationConstants.SGEH) > -1)
			#SCCAS_QUERY_BY_CC($errtable $ccRefForSgeh $sccRefForSgeh $cptRefForSgeh)	
		#else
			#SCCAS_QUERY_BY_CC($errtable $ccRefForLte $sccRefForLte $cptRefForLte)
		#end
		#if($velocityCount < $rawErrTables.size())
			union all
		#end
	#end
) as err (CAUSE_PROT_TYPE, CAUSE_CODE, SUBCAUSE_CODE, SUBCAUSE_CODE_DESC, NO_OF_ERRORS, IMSI)

left outer join
	dc.DIM_E_SGEH_CC_SCC whatnextTable
	on (err.CAUSE_CODE = whatnextTable.CAUSE_CODE and err.SUBCAUSE_CODE = whatnextTable.SUBCAUSE_CODE)
group by
	err.CAUSE_CODE,
	err.SUBCAUSE_CODE,
	err.SUBCAUSE_CODE_DESC,
	err.CAUSE_PROT_TYPE,
	whatnext
order by
	err.SUBCAUSE_CODE