##
## WCDMA Call Failure Analysis Terminal Event Analysis (using raw tables)
##
## Velocity Parameter:
##
##		
## Named PreparedStatement Parameter:
##
##     :marketingname		provided by service after parsing node parameter
##     :TAC					provided by service after parsing node parameter
##     :TECH_PACK_LIST		tables that should be used in query, see TechPackList javadoc
##     :count 	   max number of rows
##     :dateFrom   starting time
##     :dateTo     ending time
##

#set($columnsToSelect=["EVENT_ID", "IMSI", "TAC"])
BEGIN
SELECT 

		#if($count > 0)
	  		top $count
		#end
		
		DIM_E_SGEH_TAC.MANUFACTURER AS 'Manufacturer'
        ,DIM_E_SGEH_TAC.MARKETING_NAME AS 'Model'
        ,raw_data.EVENT_TYPE AS 'Event Type'
        ,raw_data.FAILURES AS 'Failures'
        ,raw_data.IMPACTED_SUBSCRIBERS AS 'Impacted Subscribers'
        ,raw_data.EVENT_ID AS 'Event ID'
        ,:TAC AS 'TAC'

FROM

(
    select
        TAC
        ,DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID_ALTERNATE_DESC AS EVENT_TYPE
        ,COUNT (*) AS FAILURES
        ,COUNT (DISTINCT rawview.IMSI) AS IMPACTED_SUBSCRIBERS
        ,DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID
    from
        #REPLACE_RAW_VIEW_WITH_RAW_TABLES_FILTER_ON_TIME_AND_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawErrTables() "rawview" $columnsToSelect)
        ,DIM_E_RAN_CFA_EVENTTYPE
    where
        rawview.TAC = :TAC
        AND rawview.EVENT_ID = DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID
    group by
        TAC
        ,EVENT_TYPE
		,rawview.EVENT_ID
		,DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID
	
) as raw_data

left outer join 
	DIM_E_SGEH_TAC 
on (
	raw_data.TAC = DIM_E_SGEH_TAC.TAC
	)
END