##
## WCDMA Call Failure Analysis Cause Code Ranking (using raw tables)
##
## Velocity Parameter: 
##		EVENT_ID:   Corresponding event id for Cause Code Call Setup or Calls Dropped
##		CAUSE_VALUE:   The cause code value
##
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##
#set($columnsToSelect=["EXTENDED_CAUSE_VALUE, IMSI, CAUSE_VALUE, EVENT_ID"])

BEGIN
SELECT 
	#if($count > 0)
	  top $count
	#end
	rawview.EXTENDED_CAUSE_VALUE AS 'Extended Cause Code ID', 
	DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE.EXTENDED_CAUSE_VALUE_DESC AS 'Extended Cause Code Description', 
	Count (*) AS Occurrences, 
	COUNT (DISTINCT rawview.IMSI) As 'Impacted Subscriber' 
FROM 
	DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE,
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_FILTER_ON_TIME_AND_SPECIFY_COLUMNS_WITH_TAC_EXCLUSION($TECH_PACK_LIST.getAllRawErrTables() "rawview" $columnsToSelect),	
WHERE 
	rawview.EXTENDED_CAUSE_VALUE *= DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE.EXTENDED_CAUSE_VALUE     
	AND rawview.CAUSE_VALUE =$CAUSE_VALUE 
	AND rawview.EVENT_ID =$EVENT_ID 
GROUP BY 
	DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE.EXTENDED_CAUSE_VALUE,
	DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE.EXTENDED_CAUSE_VALUE_DESC,
	rawview.EXTENDED_CAUSE_VALUE
END