##
## WCDMA Call Failure Detailed Event Analysis for Access Area (using raw tables)
##
## Velocity Parameter: 
##
## Named PreparedStatement Parameter:
##
##	   :EVENT_ID:   Corresponding event id for access area
##	   :HIER3_CELL_ID:   The cell id
##     :dateFrom   starting time
##     :dateTo     ending time
##
#set($columnsToSelect=["EVENT_TIME, IMSI, TAC, EVENT_ID, SEVERITY_INDICATOR, PROCEDURE_INDICATOR, EVALUATION_CASE, EXCEPTION_CLASS, CAUSE_VALUE, EXTENDED_CAUSE_VALUE, C_ID_1, HIER3_CELL_ID"])
BEGIN
SELECT 
	#if($csv == true)
   	 DATEADD(minute,$tzOffset,rawview.EVENT_TIME)AS 'Event Time',
   	#else
   	rawview.EVENT_TIME AS 'Event Time',
   	#end
	rawview.IMSI AS IMSI, 
	rawview.TAC AS TAC, 
	DIM_E_SGEH_TAC.MANUFACTURER AS 'Terminal Make', 
	DIM_E_SGEH_TAC.MARKETING_NAME AS 'Terminal Model', 
	DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID_ALTERNATE_DESC as 'Event Type',
	DIM_E_RAN_CFA_PROCEDURE_INDICATOR.PROCEDURE_INDICATOR_DESC AS 'Procedure Indicator', 
	DIM_E_RAN_CFA_EVALUATION_CASE.EVALUATION_CASE_DESC AS 'Evaluation Case', 
	DIM_E_RAN_CFA_EXCEPTION_CLASS.EXCEPTION_CLASS_DESC AS 'Exception Class', 
	DIM_E_RAN_CFA_CAUSE_VALUE.CAUSE_VALUE_DESC AS 'Cause Value',
	DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE.EXTENDED_CAUSE_VALUE_DESC AS 'Extended Cause Value', 
	DIM_E_RAN_CFA_SEVERITY_INDICATOR.SEVERITY_INDICATOR_DESC AS 'Severity Indicator' 
FROM 
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawErrTables() "rawview" $columnsToSelect) 
	,DIM_E_SGEH_TAC,
	DIM_E_RAN_CFA_EVENTTYPE,
	DIM_E_RAN_CFA_PROCEDURE_INDICATOR,
	DIM_E_RAN_CFA_EVALUATION_CASE,
	DIM_E_RAN_CFA_EXCEPTION_CLASS,
	DIM_E_RAN_CFA_CAUSE_VALUE, 
	DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE,
    DIM_E_RAN_CFA_SEVERITY_INDICATOR
WHERE
    rawview.TAC *= DIM_E_SGEH_TAC.TAC
    AND rawview.HIER3_CELL_ID = :HIER3_CELL_ID
    AND rawview.EVENT_ID = :eventID
    AND rawview.PROCEDURE_INDICATOR *= DIM_E_RAN_CFA_PROCEDURE_INDICATOR.PROCEDURE_INDICATOR
    AND rawview.EVALUATION_CASE *= DIM_E_RAN_CFA_EVALUATION_CASE.EVALUATION_CASE
    AND rawview.EXCEPTION_CLASS *= DIM_E_RAN_CFA_EXCEPTION_CLASS.EXCEPTION_CLASS
	and rawview.EVENT_ID *= DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID
    AND rawview.CAUSE_VALUE *= DIM_E_RAN_CFA_CAUSE_VALUE.CAUSE_VALUE
    AND rawview.EXTENDED_CAUSE_VALUE *= DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE.EXTENDED_CAUSE_VALUE
    AND rawview.SEVERITY_INDICATOR *= DIM_E_RAN_CFA_SEVERITY_INDICATOR.SEVERITY_INDICATOR_ID
ORDER BY
    rawview.EVENT_TIME desc

END