#set($columnsToSelect=["IMSI_MCC","IMSI_MNC","THIER321_ID","THIER3_CELL_ID","C_ID_1","RNC_ID_1","C_ID_2","RNC_ID_2","C_ID_3","RNC_ID_3","C_ID_4","RNC_ID_4", "C_ID_SOURCE", "C_ID_TARGET", "SOURCE_CELL_ECNO", "TARGET_CELL_ECNO", "SOURCE_CELL_RSCP", "TARGET_CELL_RSCP", "EVENT_TRIGGER", "GBR_DL", "GBR_UL", "RNC_ID_SOURCE", "RNC_ID_TARGET", "SOURCE_CONN_PROPS_EXT", "SRC_C_ID_1_SEC_SERV_HSDSCH_CELL", "TARG_C_ID_1_SEC_SERV_HSDSCH_CELL", "SRC_CONN_PROP", "TARG_CONN_PROP", "TARGET_CONN_PROPS_EXT", "EVENT_TIME", "IMSI", "EVENT_ID", "SOURCE_CONF"])

SELECT
	IMSI,
	NULL AS MSISDN,
	#DISPLAY_NETWORK("roamingRef"),
	rabType_sourceConf.RABTYPE_DESC,	
	dateformat(EVENT_TIME,'yyyy-MM-dd HH:mm:ss.SSS') AS EVENT_TIME,
	EVENT_ID_DESC,	
    ## Source/Target 
	source_cellRef.CID AS SOURCE_CID,
	source_cellRef.CELL_ID AS SOURCE_CELL_ID,
	source_cellRef.HIERARCHY_3 AS SOURCE_CONTROLLER,
	ISNULL(target_cellRef_3g.CELL_ID,target_cellRef_2g.HIERARCHY_1) as TARGET_CELL_ID,
	ISNULL(target_cellRef_3g.CID,target_cellRef_2g.ACCESS_AREA_ID) as TARGET_CID,
	ISNULL(target_cellRef_3g.HIERARCHY_3,target_cellRef_2g.HIERARCHY_3) as TARGET_CONTROLLER,	
    SOURCE_CELL_ECNO AS CPICH_EC_NO_SOURCE_CELL,
    TARGET_CELL_ECNO AS CPICH_EC_NO_TARGET_CELL,
    SOURCE_CELL_RSCP AS CPICH_RSCP_SOURCE_CELL,
    TARGET_CELL_RSCP AS CPICH_RSCP_TARGET_CELL,
	EVENT_TRIGGER_DESC,
	GBR_DL,
	GBR_UL,		
	SOURCE_CONN_PROPS_EXT,
	SRC_C_ID_1_SEC_SERV_HSDSCH_CELL,
	TARG_C_ID_1_SEC_SERV_HSDSCH_CELL,
	SRC_CONN_PROP,
	TARG_CONN_PROP,
	TARGET_CONN_PROPS_EXT,	
	## Active Set Measurements
	cellRef1.CELL_ID AS SOURCE_CELL_ID_1,
	cellRef1.CID AS SOURCE_CID_1,
	cellRef1.HIERARCHY_3 AS SOURCE_ALTERNATIVE_FDN_1,
	cellRef2.CELL_ID AS SOURCE_CELL_ID_2,
	cellRef2.CID AS SOURCE_CID_2,
	cellRef2.HIERARCHY_3 AS SOURCE_ALTERNATIVE_FDN_2,
	cellRef3.CELL_ID AS SOURCE_CELL_ID_3,
	cellRef3.CID AS SOURCE_CID_3,
	cellRef3.HIERARCHY_3 AS SOURCE_ALTERNATIVE_FDN_3,
	cellRef4.CELL_ID AS SOURCE_CELL_ID_4,
	cellRef4.CID AS SOURCE_CID_4,
	cellRef4.HIERARCHY_3 AS SOURCE_ALTERNATIVE_FDN_4
from
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_SPECIFY_COLUMNS_WITH_EVENT_TIME($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "raw_tables" ["IMSI"] $columnsToSelect)
--- SOURCE ---
LEFT OUTER JOIN
	(SELECT
		SN,
		rncId
	 FROM
        DIM_E_RAN_RNCFUNCTION
	 )AS source_rncFuncRef
    on (source_rncFuncRef.rncId = raw_tables.RNC_ID_SOURCE)
LEFT OUTER JOIN
	(SELECT
		ALTERNATIVE_FDN,
		RNC_FDN
	FROM
        DIM_E_RAN_RNC
    )AS source_rncRef
	ON (source_rncFuncRef.SN = source_rncRef.RNC_FDN)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS source_cellRef
	 ON(source_cellRef.CID = raw_tables.C_ID_SOURCE AND source_cellRef.HIERARCHY_3 = source_rncRef.ALTERNATIVE_FDN)
--- TARGET ---
LEFT OUTER JOIN
  	(SELECT
   		DISTINCT CID,
		CELL_ID,
		HIER3_CELL_ID,
		HIERARCHY_3
    FROM
    	DIM_E_SGEH_HIER321_CELL 
		)AS target_cellRef_3g
	ON (raw_tables.THIER3_CELL_ID = target_cellRef_3g.HIER3_CELL_ID)	 
LEFT OUTER JOIN
  	(SELECT
   		DISTINCT 
		ACCESS_AREA_ID,
		HIER321_ID,
		HIERARCHY_1,
		HIERARCHY_3
    FROM
    	DIM_E_SGEH_HIER321
		)AS target_cellRef_2g
	ON (raw_tables.THIER321_ID = target_cellRef_2g.HIER321_ID)	
--- ACTIVE SET ---
LEFT OUTER JOIN
	(SELECT
		SN,
		rncId
	 FROM
        DIM_E_RAN_RNCFUNCTION
	 )AS rncFuncRef1
    on (rncFuncRef1.rncId = raw_tables.RNC_ID_1)
LEFT OUTER JOIN
	(SELECT
		ALTERNATIVE_FDN,
		RNC_FDN
	FROM
        DIM_E_RAN_RNC
    )AS rncRef1
	ON (rncFuncRef1.SN = rncRef1.RNC_FDN)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef1
	 ON(cellRef1.CID = raw_tables.C_ID_1 AND cellRef1.HIERARCHY_3 = rncRef1.ALTERNATIVE_FDN)	 
LEFT OUTER JOIN
	(SELECT
		SN,
		rncId
	 FROM
        DIM_E_RAN_RNCFUNCTION
	 )AS rncFuncRef2
    ON (rncFuncRef2.rncId = raw_tables.RNC_ID_2)
LEFT OUTER JOIN
	(SELECT
		ALTERNATIVE_FDN,
		RNC_FDN
	FROM
        DIM_E_RAN_RNC
    )AS rncRef2
	ON (rncFuncRef2.SN = rncRef2.RNC_FDN)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef2
	 ON(cellRef2.CID = raw_tables.C_ID_2 AND cellRef2.HIERARCHY_3 = rncRef2.ALTERNATIVE_FDN)
LEFT OUTER JOIN
	(SELECT
		SN,
		rncId
	 FROM
        DIM_E_RAN_RNCFUNCTION
	 )AS rncFuncRef3
    ON (rncFuncRef3.rncId = raw_tables.RNC_ID_3)
LEFT OUTER JOIN
	(SELECT
		ALTERNATIVE_FDN,
		RNC_FDN
	FROM
        DIM_E_RAN_RNC
    )AS rncRef3
	ON (rncFuncRef3.SN = rncRef3.RNC_FDN)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef3
	 ON(cellRef3.CID = raw_tables.C_ID_3 AND cellRef3.HIERARCHY_3 = rncRef3.ALTERNATIVE_FDN)
LEFT OUTER JOIN
	(SELECT
		SN,
		rncId
	 FROM
        DIM_E_RAN_RNCFUNCTION
	 )AS rncFuncRef4
    ON (rncFuncRef4.rncId = raw_tables.RNC_ID_4)
LEFT OUTER JOIN
	(SELECT
		ALTERNATIVE_FDN,
		RNC_FDN
	FROM
        DIM_E_RAN_RNC
    )AS rncRef4
	ON (rncFuncRef4.SN = rncRef4.RNC_FDN)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef4
	 ON(cellRef4.CID = raw_tables.C_ID_4 AND cellRef3.HIERARCHY_3 = rncRef3.ALTERNATIVE_FDN)	
--- END ACTIVE SET ---
LEFT OUTER JOIN
	DIM_E_SGEH_MCCMNC roamingRef
	ON (roamingRef.MCC = raw_tables.IMSI_MCC
		and roamingRef.MNC = raw_tables.IMSI_MNC)
LEFT OUTER JOIN
	DIM_E_RAN_HFA_EVENT_TRIGGER eventTrigger
	on (eventTrigger.EVENT_TRIGGER = raw_tables.EVENT_TRIGGER)	
LEFT OUTER JOIN
	DIM_E_RAN_RABTYPE rabType_sourceConf
	on (rabType_sourceConf.RABTYPE = raw_tables.SOURCE_CONF)
LEFT OUTER JOIN
	DIM_E_RAN_SESSION_EVENTTYPE eventType
	on (eventType.EVENT_ID = raw_tables.EVENT_ID)
WHERE
	raw_tables.EVENT_ID = :eventID		
ORDER BY EVENT_TIME
