#DEFINE_CONSTANTS()
#set($filterColumn = ["IMSI"])
#set($columnsToSelect = ["VALID_EVENT_RESULTS","VALID_MEAS_RESULTS","EVENT_RSLTS_ORD_NO","BSIC","ECNO","RSCP","MEAS_RSLTS_ORD_NO","ADDITIONAL_EVENT_ID","EVENT_ID","IMSI_MNC","IMSI_MCC","IMSI","EVENT_TIME","MEASUREMENT_TYPE","SCRAMBLINGCODE","TRIGGER_EVENT_ID","HIER3_CELL_ID_1","HIER3_CELL_ID_2","HIER3_CELL_ID_3","HIER3_CELL_ID_4"])

SELECT
	##Subscriber Identity section
	NULL AS MSISDN,
	rawview.IMSI,
	#DISPLAY_NETWORK("roamingRef"),
	##Measurement Details
	dateformat(EVENT_TIME,'yyyy-MM-dd HH:mm:ss.SSS') AS EVENT_TIME,
	measRef.MEASUREMENT_TYPE_DESC AS MEASUREMENT_TYPE,
	##Measured Results
	(CASE WHEN VALID_MEAS_RESULTS = 1 THEN SCRAMBLINGCODE ELSE NULL END) AS MEAS_SCRAMBLINGCODE,
	(CASE WHEN VALID_EVENT_RESULTS = 1 THEN SCRAMBLINGCODE ELSE NULL END) AS ERS_SCRAMBLINGCODE,
	BSIC,
	ECNO,
	RSCP,
	##Event Results
	triggerEventIDmapping.TRIGGER_EVENT_ID_VALUE AS REPORTING_EVENT,
	triggerEventIDmapping.TRIGGER_EVENT_ID_DESC AS REPORTING_EVENT_DESC,
	##Active Set Details
	cellRef1.CELL_ID AS CELL_ID_1,
	cellRef1.CID AS CID_1,
	cellRef1.HIERARCHY_3 AS ALTERNATIVE_FDN_1,
	cellRef2.CELL_ID AS CELL_ID_2,
	cellRef2.CID AS CID_2,
	cellRef2.HIERARCHY_3 AS ALTERNATIVE_FDN_2,
	cellRef3.CELL_ID AS CELL_ID_3,
	cellRef3.CID AS CID_3,
	cellRef3.HIERARCHY_3 AS ALTERNATIVE_FDN_3,
	cellRef4.CELL_ID AS CELL_ID_4,
	cellRef4.CID AS CID_4,
	cellRef4.HIERARCHY_3 AS ALTERNATIVE_FDN_4,
	EVENT_RSLTS_ORD_NO,
	MEAS_RSLTS_ORD_NO
FROM
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_SPECIFY_COLUMNS_WITH_EVENT_TIME($TECH_PACK_LIST.getAllRawTables() "rawview" $filterColumn $columnsToSelect)
	LEFT OUTER JOIN DIM_E_RAN_SESSION_MEASUREMENT_TYPE measRef
		ON (rawview.MEASUREMENT_TYPE = measRef.MEASUREMENT_TYPE)
	LEFT OUTER JOIN DIM_E_RAN_SESSION_TRIGGER_EVENT_ID triggerEventIDmapping
	ON( triggerEventIDmapping.TRIGGER_EVENT_ID = rawview.TRIGGER_EVENT_ID AND triggerEventIDmapping.TRIGGER_EVENTTYPE = rawview.MEASUREMENT_TYPE)
	LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,HIER3_CELL_ID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef1
	 ON(cellRef1.HIER3_CELL_ID = rawview.HIER3_CELL_ID_1)
	LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,HIER3_CELL_ID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef2
	 ON(cellRef2.HIER3_CELL_ID = rawview.HIER3_CELL_ID_2)
	 LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,HIER3_CELL_ID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef3
	 ON(cellRef3.HIER3_CELL_ID = rawview.HIER3_CELL_ID_3)
	 LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,HIER3_CELL_ID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef4
	 ON(cellRef4.HIER3_CELL_ID = rawview.HIER3_CELL_ID_4)
LEFT OUTER JOIN
    DIM_E_SGEH_MCCMNC roamingRef
ON
    (
        roamingRef.MCC = rawview.IMSI_MCC
    AND roamingRef.MNC = rawview.IMSI_MNC)
WHERE
rawview.EVENT_ID = :eventID
AND rawview.ADDITIONAL_EVENT_ID = :additionalEventId
ORDER BY EVENT_TIME DESC,MEAS_RSLTS_ORD_NO ASC