#set($columnsToSelect=["C_ID_1","RNC_ID_1","C_ID_2","RNC_ID_2","C_ID_3","RNC_ID_3","C_ID_4","RNC_ID_4","GBR_UL", "SOURCE_CONF","EVENT_TRIGGER", "THIER321_ID", "SRC_C_ID_1_SS_HSDSCH_CELL", "TRGT_C_ID_1_SS_HSDSCH_CELL","GBR_DL",  "CPICH_EC_NO_TARGET_CELL", "SOURCE_CONNECTION_PROP", "CPICH_EC_NO_SOURCE_CELL", "CPICH_RSCP_SOURCE_CELL", "CPICH_RSCP_TARGET_CELL", "CAUSE_VALUE", "EVENT_TIME", "EVENT_ID", "IMSI", "MSISDN", "TAC", "IMSI_MCC", "IMSI_MNC", "ROAMING", "HIER3_CELL_ID", "THIER3_CELL_ID", "LAC", "RAC"])
#if($subType=="IMSI")
    #set($filterColumn = ["IMSI"])
#elseif($subType=="MSISDN")
    #set($filterColumn = ["MSISDN"])
#end
select
	TOP 1
	##Subscriber Identity
	MSISDN,
	IMSI,
	#DISPLAY_TERMINAL("tacRef" "raw_tables"),
	#DISPLAY_NETWORK("roamingRef"),
	##Handover Details
	source_cellRef.CELL_ID as SOURCE_CELL_ID,
	source_cellRef.CID as SOURCE_CID,
	source_cellRef.HIERARCHY_3 as SOURCE_CONTROLLER,
	LAC as SOURCE_LAC,
	RAC as SOURCE_RAC,
	ISNULL(target_cellRef_3g.CELL_ID,target_cellRef_2g.HIERARCHY_1) as TARGET_CELL_ID,
	ISNULL(target_cellRef_3g.CID,target_cellRef_2g.ACCESS_AREA_ID) as TARGET_CID,
	ISNULL(target_cellRef_3g.HIERARCHY_3,target_cellRef_2g.HIERARCHY_3) as TARGET_CONTROLLER,
	###LAC_TARGET_ID, no such column
	###PLMN_TARGET_ID, no such column
	##Event Details
	CAUSE_VALUE_DESC,
	sourceEcnoMapping.ECNO_DBM AS CPICH_EC_NO_SOURCE_CELL,
	sourceRscpMapping.RSCP_DBM AS CPICH_RSCP_SOURCE_CELL,
	###RSCP_CELL_1 as RSCP_SOURCE_CELL,  no such column
	targetEcnoMapping.ECNO_DBM AS CPICH_EC_NO_TARGET_CELL,
	targetRscpMapping.RSCP_DBM AS CPICH_RSCP_TARGET_CELL,
	####RSCP for target cell??? no such column
	SOURCE_CONNECTION_PROP,
	GBR_UL,
	GBR_DL,	
	SRC_C_ID_1_SS_HSDSCH_CELL as SOURCE_SEC_SERV_HSDSCH_CID,
	TRGT_C_ID_1_SS_HSDSCH_CELL as TARGET_SEC_SERV_HSDSCH_CID,
	dateformat(EVENT_TIME,'yyyy-MM-dd HH:mm:ss.SSS') AS EVENT_TIME,
	eventTrigger_table.EVENT_TRIGGER_DESC AS EVENT_TRIGGER_DESC,
	rabType_sourceConf.RABTYPE_DESC AS RABTYPE_DESC,
	
	##Active Set Measurements
	cellRef1.CELL_ID AS SOURCE_CELL_ID_1,
	cellRef1.CID AS SOURCE_CID_1,
	cellRef1.HIERARCHY_3 AS SOURCE_ALTERNATIVE_FDN_1,
	cellRef2.CELL_ID AS SOURCE_CELL_ID_2,
	cellRef2.CID AS SOURCE_CID_2,
	cellRef2.HIERARCHY_3 AS SOURCE_ALTERNATIVE_FDN_2,
	cellRef3.CELL_ID AS SOURCE_CELL_ID_3,
	cellRef3.CID AS SOURCE_CID_3,
	cellRef3.HIERARCHY_3 AS SOURCE_ALTERNATIVE_FDN_3,
	cellRef4.CELL_ID AS SOURCE_CELL_ID_4,
	cellRef4.CID AS SOURCE_CID_4,
	cellRef4.HIERARCHY_3 AS SOURCE_ALTERNATIVE_FDN_4
from 
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_SPECIFY_COLUMNS_WITH_EVENT_TIME($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "raw_tables" $filterColumn $columnsToSelect)	
left outer join
	DIM_E_SGEH_TAC tacRef
	on (tacRef.TAC = raw_tables.TAC)
left outer join
	DIM_E_SGEH_MCCMNC roamingRef
	on (roamingRef.MCC = raw_tables.IMSI_MCC
		and roamingRef.MNC = raw_tables.IMSI_MNC)
left outer join
	(select
		DISTINCT CID,
		CELL_ID,
		HIER3_CELL_ID,
		HIERARCHY_3
	from
		DIM_E_SGEH_HIER321_CELL) as source_cellRef
	on
		(raw_tables.HIER3_CELL_ID = source_cellRef.HIER3_CELL_ID)
left outer join
  	(select
   		DISTINCT CID,
		CELL_ID,
		HIER3_CELL_ID,
		HIERARCHY_3
    from
    	DIM_E_SGEH_HIER321_CELL 
		)AS target_cellRef_3g
	on
		(raw_tables.THIER3_CELL_ID = target_cellRef_3g.HIER3_CELL_ID)
left outer join
  	(select
   		DISTINCT 
		ACCESS_AREA_ID,
		HIER321_ID,
		HIERARCHY_1,
		HIERARCHY_3
    from
    	DIM_E_SGEH_HIER321
		)AS target_cellRef_2g
	on
		(raw_tables.THIER321_ID = target_cellRef_2g.HIER321_ID)
--- ACTIVE SET ---
LEFT OUTER JOIN
	(SELECT
		SN,
		rncId
	 FROM
        DIM_E_RAN_RNCFUNCTION
	 )AS rncFuncRef1
    on (rncFuncRef1.rncId = raw_tables.RNC_ID_1)
LEFT OUTER JOIN
	(SELECT
		ALTERNATIVE_FDN,
		RNC_FDN
	FROM
        DIM_E_RAN_RNC
    )AS rncRef1
	ON (rncFuncRef1.SN = rncRef1.RNC_FDN)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef1
	 ON(cellRef1.CID = raw_tables.C_ID_1 AND cellRef1.HIERARCHY_3 = rncRef1.ALTERNATIVE_FDN)	 
LEFT OUTER JOIN
	(SELECT
		SN,
		rncId
	 FROM
        DIM_E_RAN_RNCFUNCTION
	 )AS rncFuncRef2
    on (rncFuncRef2.rncId = raw_tables.RNC_ID_2)
LEFT OUTER JOIN
	(SELECT
		ALTERNATIVE_FDN,
		RNC_FDN
	FROM
        DIM_E_RAN_RNC
    )AS rncRef2
	ON (rncFuncRef2.SN = rncRef2.RNC_FDN)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef2
	 ON(cellRef2.CID = raw_tables.C_ID_2 AND cellRef2.HIERARCHY_3 = rncRef2.ALTERNATIVE_FDN)
LEFT OUTER JOIN
	(SELECT
		SN,
		rncId
	 FROM
        DIM_E_RAN_RNCFUNCTION
	 )AS rncFuncRef3
    on (rncFuncRef3.rncId = raw_tables.RNC_ID_3)
LEFT OUTER JOIN
	(SELECT
		ALTERNATIVE_FDN,
		RNC_FDN
	FROM
        DIM_E_RAN_RNC
    )AS rncRef3
	ON (rncFuncRef3.SN = rncRef3.RNC_FDN)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef3
	 ON(cellRef3.CID = raw_tables.C_ID_3 AND cellRef3.HIERARCHY_3 = rncRef3.ALTERNATIVE_FDN)
LEFT OUTER JOIN
	(SELECT
		SN,
		rncId
	 FROM
        DIM_E_RAN_RNCFUNCTION
	 )AS rncFuncRef4
    on (rncFuncRef4.rncId = raw_tables.RNC_ID_4)
LEFT OUTER JOIN
	(SELECT
		ALTERNATIVE_FDN,
		RNC_FDN
	FROM
        DIM_E_RAN_RNC
    )AS rncRef4
	ON (rncFuncRef4.SN = rncRef4.RNC_FDN)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef4
	 ON(cellRef4.CID = raw_tables.C_ID_4 AND cellRef3.HIERARCHY_3 = rncRef3.ALTERNATIVE_FDN)	
--- END ACTIVE SET ---
left outer join
		DIM_E_RAN_HFA_CAUSE_CODE_VALUE causeValue
	on (causeValue.CAUSE_VALUE = raw_tables.CAUSE_VALUE
		and causeValue.EVENT_ID = raw_tables.EVENT_ID)
LEFT OUTER JOIN
	DIM_E_RAN_ECNO_MAPPING sourceEcnoMapping
ON (raw_tables.CPICH_EC_NO_SOURCE_CELL = sourceEcnoMapping.ECNO)
LEFT OUTER JOIN
	DIM_E_RAN_ECNO_MAPPING targetEcnoMapping
ON (raw_tables.CPICH_EC_NO_TARGET_CELL = targetEcnoMapping.ECNO)
LEFT OUTER JOIN
	DIM_E_RAN_RSCP_MAPPING sourceRscpMapping
ON (raw_tables.CPICH_RSCP_SOURCE_CELL = sourceRscpMapping.RSCP)
LEFT OUTER JOIN
	DIM_E_RAN_RSCP_MAPPING targetRscpMapping
ON (raw_tables.CPICH_RSCP_TARGET_CELL = targetRscpMapping.RSCP)
LEFT OUTER JOIN
	DIM_E_RAN_RABTYPE rabType_sourceConf
ON (raw_tables.SOURCE_CONF  = rabType_sourceConf.RABTYPE )
LEFT OUTER JOIN
	DIM_E_RAN_HFA_EVENT_TRIGGER eventTrigger_table
ON (raw_tables.EVENT_TRIGGER = eventTrigger_table.EVENT_TRIGGER)
where 
	raw_tables.EVENT_ID = :eventID
order by EVENT_TIME