#set($columnsToSelect=["THIER321_ID","ECNO_CELL_1","RSCP_CELL_1","ECNO_CELL_2","RSCP_CELL_2","ECNO_CELL_3","RSCP_CELL_3","ECNO_CELL_4","RSCP_CELL_4","TARGET_CELL_ECNO","TARGET_CELL_RSCP","TARGET_CELL_RSSI","IMSI_MCC","IMSI_MNC","THIER3_CELL_ID","HIER3_CELL_ID_1","HIER3_CELL_ID_2","HIER3_CELL_ID_3","HIER3_CELL_ID_4","WANTED_CONN_PROPERTIES","SOURCE_CONN_PROPERTIES","TARGET_CONN_PROPERTIES","EVENT_TIME", "C_ID_SERV_HSDSCH_CELL", "HHO_TARGET_ID_1", "HHO_TARGET_ID_2", "HHO_TARGET_ID_3", "IMSI", "EVALUATION_CASE", "EVENT_ID", "PROCEDURE_INDICATOR", "SOURCE_CONF", "WANTED_CONF", "TARGET_CONF"])

SELECT
	TOP 1
	##Subscriber Identity
	raw_tables.IMSI as IMSI,
	NULL as MSISDN,
	#DISPLAY_NETWORK("roamingRef"),
	##Handover Details
	rabType_sourceConf.RABTYPE_DESC as SOURCE_RAB,
	rabType_wantedConf.RABTYPE_DESC as WANTED_RAB,
	rabType_targetConf.RABTYPE_DESC as TARGET_RAB,
	source_cellRef.CELL_ID AS SOURCE_CELL_ID,
	source_cellRef.CID as SOURCE_CID,
	source_cellRef.HIERARCHY_3 AS SOURCE_ALTERNATIVE_FDN,
	raw_tables.C_ID_SERV_HSDSCH_CELL as C_ID_SERV_HSDSCH_CELL,
	raw_tables.HHO_TARGET_ID_1 AS TARGET_PLMN,
	raw_tables.HHO_TARGET_ID_2 AS TARGET_LAC,
	(CASE
		WHEN (raw_tables.PROCEDURE_INDICATOR != 7 AND raw_tables.PROCEDURE_INDICATOR != 12)
		THEN target_cellRef_3G.CID
		ELSE target_cellRef_2G.ACCESS_AREA_ID
	END)AS TARGET_CID,
	(CASE
		WHEN (raw_tables.PROCEDURE_INDICATOR != 7 AND raw_tables.PROCEDURE_INDICATOR != 12)
		THEN target_cellRef_3G.CELL_ID
		ELSE target_cellRef_2G.HIERARCHY_1
	END)AS TARGET_CELL_ID,
	(CASE
		WHEN (raw_tables.PROCEDURE_INDICATOR != 7 AND raw_tables.PROCEDURE_INDICATOR != 12)
		THEN target_cellRef_3G.HIERARCHY_3
		ELSE target_cellRef_2G.HIERARCHY_3
	END)AS TARGET_CONTROLLER,
	raw_tables.TARGET_CELL_ECNO,
	raw_tables.TARGET_CELL_RSCP,
	raw_tables.TARGET_CELL_RSSI,
	##Event Details
	dateformat(EVENT_TIME,'yyyy-MM-dd HH:mm:ss.SSS') AS EVENT_TIME,
	procedureIndicator.PROCEDURE_INDICATOR_DESC,
	evaluationCase.EVALUATION_CASE_DESC,
	SOURCE_CONN_PROPERTIES,
	TARGET_CONN_PROPERTIES,
	WANTED_CONN_PROPERTIES,
	##Active Set Measurements
	cellRef2.CELL_ID AS CELL_ID_2,
	cellRef2.CID AS CID_2,
	cellRef2.HIERARCHY_3 AS ALTERNATIVE_FDN_2,
	cellRef3.CELL_ID AS CELL_ID_3,
	cellRef3.CID AS CID_3,
	cellRef3.HIERARCHY_3 AS ALTERNATIVE_FDN_3,
	cellRef4.CELL_ID AS CELL_ID_4,
	cellRef4.CID AS CID_4,
	cellRef4.HIERARCHY_3 AS ALTERNATIVE_FDN_4,
	raw_tables.ECNO_CELL_1 AS ECNO_CELL_1,
	raw_tables.RSCP_CELL_1 AS RSCP_CELL_1,
	raw_tables.ECNO_CELL_2 AS ECNO_CELL_2,
	raw_tables.RSCP_CELL_2 AS RSCP_CELL_2,
	raw_tables.ECNO_CELL_3 AS ECNO_CELL_3,
	raw_tables.RSCP_CELL_3 AS RSCP_CELL_3,
	raw_tables.ECNO_CELL_4 AS ECNO_CELL_4,
	raw_tables.RSCP_CELL_4 AS RSCP_CELL_4
	##causeValue.CAUSE_VALUE_DESC,
	##subCauseCode.SUB_CAUSE_VALUE_DESC,
FROM	
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_SPECIFY_COLUMNS_WITH_EVENT_TIME($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "raw_tables" ["IMSI"] $columnsToSelect)
LEFT OUTER JOIN
	DIM_E_SGEH_MCCMNC roamingRef
	on (roamingRef.MCC = raw_tables.IMSI_MCC
		and roamingRef.MNC = raw_tables.IMSI_MNC)
LEFT OUTER JOIN
	DIM_E_RAN_HFA_EVALUATION_CASE evaluationCase
	on ( evaluationCase.EVALUATION_CASE = raw_tables.EVALUATION_CASE)
LEFT OUTER JOIN
	DIM_E_RAN_HFA_PROCEDURE_INDICATOR procedureIndicator
	on (procedureIndicator.PROCEDURE_INDICATOR = raw_tables.PROCEDURE_INDICATOR)
LEFT OUTER JOIN
	DIM_E_RAN_RABTYPE rabType_sourceConf
	on (rabType_sourceConf.RABTYPE = raw_tables.SOURCE_CONF)
LEFT OUTER JOIN 
	DIM_E_RAN_RABTYPE rabType_wantedConf
	on (rabType_wantedConf.RABTYPE = raw_tables.WANTED_CONF)
LEFT OUTER JOIN 
	DIM_E_RAN_RABTYPE rabType_targetConf
	on (rabType_targetConf.RABTYPE = raw_tables.TARGET_CONF)
left outer join
	(select
		DISTINCT CID,
		HIER3_CELL_ID,
		CELL_ID,
		HIERARCHY_3
	from
		DIM_E_SGEH_HIER321_CELL) as source_cellRef
	on
		(raw_tables.HIER3_CELL_ID_1 = source_cellRef.HIER3_CELL_ID)
left outer join
  	(select
   		DISTINCT CID,
   		HIER3_CELL_ID as CELL_HASH_ID,
		CELL_ID,
		HIERARCHY_3
    from
    	DIM_E_SGEH_HIER321_CELL
		)AS target_cellRef_3G
	on
		(raw_tables.THIER3_CELL_ID = target_cellRef_3G.CELL_HASH_ID)
left outer join
  	(select
   		DISTINCT ACCESS_AREA_ID,
   		HIER321_ID as CELL_HASH_ID,
		HIERARCHY_1,
		HIERARCHY_3
    from
    	DIM_E_SGEH_HIER321
		)AS target_cellRef_2G
	on
		(raw_tables.THIER321_ID = target_cellRef_2G.CELL_HASH_ID)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,HIER3_CELL_ID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef2
	 ON(cellRef2.HIER3_CELL_ID = raw_tables.HIER3_CELL_ID_2)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,HIER3_CELL_ID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef3
	 ON(cellRef3.HIER3_CELL_ID = raw_tables.HIER3_CELL_ID_3)
LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,HIER3_CELL_ID,
		CELL_ID,
		HIERARCHY_3
	 FROM
		DIM_E_SGEH_HIER321_CELL
	 )AS cellRef4
	 ON(cellRef4.HIER3_CELL_ID = raw_tables.HIER3_CELL_ID_4)
WHERE	
	raw_tables.EVENT_ID = :eventID
ORDER BY EVENT_TIME
