##
## WCDMA Handover Failure Cause Code Analysis by Cell Group (using raw tables)
##
## Velocity Parameter:
##
## Named PreparedStatement Parameter:
##
##	   :groupname   The controller group name with hash ids
##

#set($columnsToSelectSource=["CAUSE_VALUE","EVENT_ID","CATEGORY_ID"])
#set($columnsToSelectTarget=["CAUSE_VALUE","EVENT_ID","CATEGORY_ID"])
#set($columnsToSelectBoth=["CAUSE_VALUE","EVENT_ID","CATEGORY_ID"])
#set($columnsToSelectOuter=["CAUSE_VALUE","EVENT_ID","CATEGORY_ID"])
#set($groupTablesSource=["dc.GROUP_TYPE_E_RAT_VEND_HIER321_CELL"])
#set($groupTablesTarget=["dc.GROUP_TYPE_E_RAT_VEND_HIER321_CELL","dc.GROUP_TYPE_E_RAT_VEND_HIER321"])
#set($groupConditionSourceColumn=["HIER3_CELL_ID"])
#set($groupConditionTargetColumn=["THIER3_CELL_ID","THIER321_ID"])
#set($groupConditionTargetColumnEquals=["HIER3_CELL_ID","HIER321_ID"])
#set($groupConditionBoth="((dc.GROUP_TYPE_E_RAT_VEND_HIER321_CELL.GROUP_NAME = :groupname and (tmpTable.HIER3_CELL_ID = dc.GROUP_TYPE_E_RAT_VEND_HIER321_CELL.HIER3_CELL_ID or tmpTable.THIER3_CELL_ID = dc.GROUP_TYPE_E_RAT_VEND_HIER321_CELL.HIER3_CELL_ID)) or (dc.GROUP_TYPE_E_RAT_VEND_HIER321.GROUP_NAME = :groupname and tmpTable.THIER321_ID = dc.GROUP_TYPE_E_RAT_VEND_HIER321.HIER321_ID)) and")
#set($counterColumn="NO_OF_ERRORS")
#set($imsiColumn="IMSI")
#set($impactedSubscribers="TOTAL_NO_OF_SUBSCRIBERS")
#set($useExclusiveTACs="no")
#set($whereConditionTarget=["","AND RAT=0"])
#set($whereConditionSource=[""])

SELECT
    'CC'||causeCode.CAUSE_VALUE||'-'||category.CATEGORY_TABLE_NAME||eventType.EVENT_ID_LABEL AS Label,
    causeCode.CAUSE_VALUE_DESC                                                               AS 'Cause Code Description',
    (ISNULL(sourceRawView.NO_OF_ERRORS, 0) + ISNULL(targetRawView.NO_OF_ERRORS, 0))			 AS 'Failures',
    ISNULL(sourceRawView.TOTAL_NO_OF_SUBSCRIBERS, 0)                                         AS 'Source Impacted Subscribers',
    ISNULL(targetRawView.TOTAL_NO_OF_SUBSCRIBERS, 0)                                         AS 'Target Impacted Subscribers',
    causeCode.CAUSE_VALUE                                                                    AS 'Cause Code',
    eventType.EVENT_ID                                                                       AS 'Event Id',
    category.CATEGORY_ID                                                                     AS 'Category Id',
    category.CATEGORY_DESC                                                                   AS 'Handover Type',
    :groupname                                                                               AS 'Group Name',
    CASE
        WHEN ISNULL(sourceRawView.NO_OF_ERRORS, 0) != 0
        AND ISNULL(targetRawView.NO_OF_ERRORS, 0) = 0
        THEN 'WCDMA_HFA_SOURCE'
        WHEN ISNULL(sourceRawView.NO_OF_ERRORS, 0) = 0
        AND ISNULL(targetRawView.NO_OF_ERRORS, 0) != 0
        THEN 'WCDMA_HFA_TARGET'
        WHEN ISNULL(sourceRawView.NO_OF_ERRORS, 0) != 0
        AND ISNULL(targetRawView.NO_OF_ERRORS, 0) != 0
        THEN 'WCDMA_HFA_SOURCE_AND_TARGET'
    END AS 'State'
FROM
    #REPLACE_RAW_VIEW_WITH_RAW_TABLES_TAC_EXCLUSION_SPECIFY_COLUMNS_CONDITIONED_IMPACTED_SUBSCRIBERS_GROUPS_IMPROVED($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "sourceRawView" $columnsToSelectSource $columnsToSelectOuter $groupTablesSource $groupConditionSourceColumn $groupConditionSourceColumn $whereConditionSource $counterColumn $imsiColumn $impactedSubscribers $useExclusiveTACs)
FULL OUTER JOIN
    #REPLACE_RAW_VIEW_WITH_RAW_TABLES_TAC_EXCLUSION_SPECIFY_COLUMNS_CONDITIONED_IMPACTED_SUBSCRIBERS_GROUPS_IMPROVED($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "targetRawView" $columnsToSelectTarget $columnsToSelectOuter $groupTablesTarget $groupConditionTargetColumn $groupConditionTargetColumnEquals $whereConditionTarget $counterColumn $imsiColumn $impactedSubscribers $useExclusiveTACs)
ON
    (
        sourceRawView.CAUSE_VALUE = targetRawView.CAUSE_VALUE
    AND sourceRawView.EVENT_ID = targetRawView.EVENT_ID
    AND sourceRawView.CATEGORY_ID = targetRawView.CATEGORY_ID
    )
    ,
    dc.DIM_E_RAN_HFA_CAUSE_CODE_VALUE AS causeCode,
    dc.DIM_E_RAN_HFA_CATEGORY         AS category,
    dc.DIM_E_RAN_HFA_EVENTTYPE        AS eventType
WHERE
    (
        sourceRawView.CAUSE_VALUE = causeCode.CAUSE_VALUE
    AND sourceRawView.EVENT_ID = causeCode.EVENT_ID
    AND sourceRawView.EVENT_ID = eventType.EVENT_ID
    AND sourceRawView.CATEGORY_ID = category.CATEGORY_ID
    #if ($display == "chart")
        AND Label IN ($causeCodeLabelsSource)
    #end
    )
OR
    (
        targetRawView.CAUSE_VALUE = causeCode.CAUSE_VALUE
    AND targetRawView.EVENT_ID = causeCode.EVENT_ID
    AND targetRawView.EVENT_ID = eventType.EVENT_ID
    AND targetRawView.CATEGORY_ID = category.CATEGORY_ID
    #if ($display == "chart")
        AND Label IN ($causeCodeLabelsTarget)
    #end
    )
ORDER BY
    Failures DESC,
    'Source Impacted Subscribers' DESC,
    'Target Impacted Subscribers' DESC,
    'Cause Code Description'
    