##
## WCDMA Handover Failure Analysis CELL Group Detailed Event Analysis
##
## Velocity Parameter:
##
##		$aggregationView the aggregation view to query against
##
##
## Named PreparedStatement Parameter:
##
##     :dateFrom			starting time
##     :dateTo				ending time
##     :groupname			group name
##     :CAUSE_CODE			cause code value
##     :SUB_CAUSE_CODE		sub cause code value
##     :eventID				event id for cause code

#set($columnsToSelect=["DATETIME_ID","EVENT_TIME","IMSI","TAC","EVENT_ID","PROCEDURE_INDICATOR","EVENT_TRIGGER","HIER3_CELL_ID","LAC","RAC","THIER3_CELL_ID","PLMN_TARGET_ID","LAC_TARGET_ID","CAUSE_VALUE","SUB_CAUSE_VALUE","EVALUATION_CASE","EXCEPTION_CLASS","CPICH_EC_NO_CELL_1","RSCP_CELL_1","CPICH_EC_NU_FREQ_CELL","RSCP_NU_FREQ_CELL","SOURCE_CONF","TARGET_CONF","SOURCE_CONNECTION_PROP","TARGET_CONNECTION_PROP","C_ID_SERV_HSDSCH_CELL","SEVERITY_INDICATOR","CRNC_ID_SERV_HSDSCH_CELL","C_ID_1_SS_HSDSCH_CELL","UE_CONTEXT","RNC_MODULE_ID","IMSI_MCC","IMSI_MNC","IMEISV","SCANNER_ID","NE_VERSION"])
#set($groupTables=["GROUP_TYPE_E_RAT_VEND_HIER321_CELL"])
#set($condition="and TAC is not null and CAUSE_VALUE = :CAUSE_CODE and SUB_CAUSE_VALUE = :SUBCAUSE_CODE and EVENT_ID = :eventID")
#if($state == "WCDMA_HFA_SOURCE")
    #set($groupCondition="GROUP_TYPE_E_RAT_VEND_HIER321_CELL.GROUP_NAME = :groupname and tmpTable.HIER3_CELL_ID = GROUP_TYPE_E_RAT_VEND_HIER321_CELL.HIER3_CELL_ID")
#elseif($state == "WCDMA_HFA_TARGET")
    #set($groupCondition="GROUP_TYPE_E_RAT_VEND_HIER321_CELL.GROUP_NAME = :groupname and (tmpTable.THIER3_CELL_ID = GROUP_TYPE_E_RAT_VEND_HIER321_CELL.HIER3_CELL_ID")
#elseif($state == "WCDMA_HFA_SOURCE_AND_TARGET")
    #set($groupCondition="GROUP_TYPE_E_RAT_VEND_HIER321_CELL.GROUP_NAME = :groupname and (tmpTable.HIER3_CELL_ID = GROUP_TYPE_E_RAT_VEND_HIER321_CELL.HIER3_CELL_ID or tmpTable.THIER3_CELL_ID = GROUP_TYPE_E_RAT_VEND_HIER321_CELL.HIER3_CELL_ID)")
#end
#set($useExclusiveTACs="no")
BEGIN
SELECT
	#if($count > 0)
		TOP $count
	#end
	#if($csv == true)
   	      DATEADD(minute,$tzOffset,rawview.EVENT_TIME)AS 'Event Time',
   	    #else
   	      rawview.EVENT_TIME AS 'Event Time',
   	    #end

	rawView.IMSI as IMSI,
	rawView.TAC,                                                                                  ## hidden
	DIM_E_SGEH_TAC.MANUFACTURER as 'Terminal Make',
	DIM_E_SGEH_TAC.MARKETING_NAME as 'Terminal Model',
	DIM_E_RAN_HFA_EVENTTYPE.EVENT_ID_ALTERNATE_DESC as 'Event Type',                              ## hidden
	DIM_E_RAN_HFA_PROCEDURE_INDICATOR.PROCEDURE_INDICATOR_DESC as 'Procedure Indicator',
	DIM_E_RAN_HFA_EVENT_TRIGGER.EVENT_TRIGGER_DESC as 'Event Trigger',
	hier321_e_cell_source.CELL_ID as 'Source Cell',
	hier321_e_cell_source.HIERARCHY_3 as 'Source RNC',                                            ## hidden
	rawView.LAC as 'Source LAC',
	rawView.RAC as 'Source RAC',
	ISNULL(hier321_e_cell_target.CELL_ID, hier321_z_cell_target.CELL_ID) AS 'Target Cell',
	ISNULL(hier321_e_cell_target.HIERARCHY_3, hier321_z_cell_target.HIERARCHY_3) AS 'Target RNC',
	rawView.PLMN_TARGET_ID,
	rawView.LAC_TARGET_ID,
	DIM_E_RAN_HFA_CAUSE_CODE_VALUE.CAUSE_VALUE_DESC as 'Cause Value',                             ## hidden
	DIM_E_RAN_HFA_SUB_CAUSE_CODE_VALUE.SUB_CAUSE_VALUE_DESC as 'Sub Cause Value',                 ## hidden
	DIM_E_RAN_HFA_EVALUATION_CASE.EVALUATION_CASE_DESC as 'Evaluation Case',
	DIM_E_RAN_HFA_EXCEPTION_CLASS.EXCEPTION_CLASS_DESC as 'Exception Class',
	ecno_source.ECNO_DBM AS 'CPICH_EC_NO Source Cell',
    rscp_source.RSCP_DBM AS 'RSCP Source Cell',
	ecno_nu.ECNO_DBM AS 'CPICH_EC_NU_FREQ Target Cell',
    rscp_nu.RSCP_DBM AS 'RSCP_NU_FREQ Target Cell',
	rawView.SOURCE_CONF,
	rawView.TARGET_CONF,
	rawView.SOURCE_CONNECTION_PROP,
	rawView.TARGET_CONNECTION_PROP,
	rawView.C_ID_SERV_HSDSCH_CELL,
	rawView.SEVERITY_INDICATOR,
	rawView.CRNC_ID_SERV_HSDSCH_CELL,
	rawView.C_ID_1_SS_HSDSCH_CELL,
	rawView.UE_CONTEXT,            ## hidden
	rawView.RNC_MODULE_ID,         ## hidden
	rawView.IMSI_MCC,              ## hidden
	rawView.IMSI_MNC,              ## hidden
	rawView.IMEISV,                ## hidden
	rawView.SCANNER_ID,            ## hidden
	rawView.NE_VERSION             ## hidden
FROM
    #REPLACE_RAW_VIEW_WITH_RAW_TABLES_TAC_EXCLUSION_SPECIFY_COLUMNS_CONDITIONED_GROUPS($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "rawView" $columnsToSelect $columnsToSelect $condition "tmpTable" ":groupname" $groupTables $groupCondition $useExclusiveTACs "")
LEFT OUTER JOIN
    dc.DIM_E_RAN_RSCP_MAPPING rscp_source
ON
    ( rawview.RSCP_CELL_1 = rscp_source.RSCP )
LEFT OUTER JOIN
    dc.DIM_E_RAN_RSCP_MAPPING rscp_nu
ON
    ( rawview.RSCP_NU_FREQ_CELL = rscp_nu.RSCP )	
LEFT OUTER JOIN
    dc.DIM_E_RAN_ECNO_MAPPING ecno_source
ON
    ( rawview.CPICH_EC_NO_CELL_1 = ecno_source.ECNO )
LEFT OUTER JOIN
    dc.DIM_E_RAN_ECNO_MAPPING ecno_nu
ON
    ( rawview.CPICH_EC_NU_FREQ_CELL = ecno_nu.ECNO )
LEFT OUTER JOIN DIM_E_SGEH_TAC
ON
    (
        rawView.TAC = DIM_E_SGEH_TAC.TAC
    )
LEFT OUTER JOIN DIM_E_RAN_HFA_PROCEDURE_INDICATOR
ON
    (
        rawView.PROCEDURE_INDICATOR = DIM_E_RAN_HFA_PROCEDURE_INDICATOR.PROCEDURE_INDICATOR
    )
LEFT OUTER JOIN DIM_E_RAN_HFA_EVENT_TRIGGER
ON
    (
        rawView.EVENT_TRIGGER = DIM_E_RAN_HFA_EVENT_TRIGGER.EVENT_TRIGGER
    )
LEFT OUTER JOIN DIM_E_SGEH_HIER321_CELL hier321_e_cell_source
ON
    (
        rawView.HIER3_CELL_ID = hier321_e_cell_source.HIER3_CELL_ID
    )
LEFT OUTER JOIN DIM_E_SGEH_HIER321_CELL hier321_e_cell_target
ON
    (
        rawView.THIER3_CELL_ID = hier321_e_cell_target.HIER3_CELL_ID
    )
LEFT OUTER JOIN DIM_Z_SGEH_HIER321_CELL hier321_z_cell_target
ON
    (
        rawView.THIER3_CELL_ID = hier321_z_cell_target.HIER3_CELL_ID
    )
LEFT OUTER JOIN DIM_E_RAN_HFA_EVALUATION_CASE
ON
    (
        rawView.EVALUATION_CASE = DIM_E_RAN_HFA_EVALUATION_CASE.EVALUATION_CASE
    )
LEFT OUTER JOIN DIM_E_RAN_HFA_EXCEPTION_CLASS
ON
    (
        rawView.EXCEPTION_CLASS = DIM_E_RAN_HFA_EXCEPTION_CLASS.EXCEPTION_CLASS
    )
    ,
    DIM_E_RAN_HFA_EVENTTYPE,
    DIM_E_RAN_HFA_CAUSE_CODE_VALUE,
    DIM_E_RAN_HFA_SUB_CAUSE_CODE_VALUE
WHERE
    DIM_E_RAN_HFA_CAUSE_CODE_VALUE.CAUSE_VALUE = :CAUSE_CODE
AND DIM_E_RAN_HFA_CAUSE_CODE_VALUE.EVENT_ID = :eventID
AND DIM_E_RAN_HFA_SUB_CAUSE_CODE_VALUE.SUB_CAUSE_VALUE = :SUBCAUSE_CODE
AND DIM_E_RAN_HFA_SUB_CAUSE_CODE_VALUE.EVENT_ID = :eventID
AND DIM_E_RAN_HFA_EVENTTYPE.EVENT_ID = :eventID
and DIM_E_RAN_HFA_CAUSE_CODE_VALUE.CAUSE_VALUE = rawview.CAUSE_VALUE
and DIM_E_RAN_HFA_EVENTTYPE.EVENT_ID = rawview.EVENT_ID
and DIM_E_RAN_HFA_SUB_CAUSE_CODE_VALUE.SUB_CAUSE_VALUE = rawview.SUB_CAUSE_VALUE
ORDER BY
    rawView.EVENT_TIME
END    
