##=============================================================================
##
## Network analysis : Roaming information by country from the raw tables
##
##       @author ezhelao
## Description:
## 
##     Get the roaming statistics for each event type by MCC and MNC
##
## Template Parameters:
##		TECH_PACK_LIST - RAN_CFA_ERR_RAW
##	
## Query Parameters:
## 		:dateFrom
##      :dateTo
##=============================================================================




#DEFINE_CONSTANTS()
#set($columnsToSelect=["EVENT_TIME, IMSI, TAC, EVENT_ID, SEVERITY_INDICATOR, PROCEDURE_INDICATOR, EVALUATION_CASE, EXCEPTION_CLASS, CAUSE_VALUE, EXTENDED_CAUSE_VALUE, HIER3_ID, HIER3_CELL_ID, LAC, RAC"])



SELECT
	#if($count > 0) top $count #end
	rawview.EVENT_TIME AS 'Event Time',
	rawview.IMSI AS IMSI,
	rawview.TAC AS TAC,
	DIM_E_SGEH_TAC.MANUFACTURER AS 'Terminal Make',
	DIM_E_SGEH_TAC.MARKETING_NAME AS 'Terminal Model',
	DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID_ALTERNATE_DESC as 'Event Type',
	DIM_E_RAN_CFA_PROCEDURE_INDICATOR.PROCEDURE_INDICATOR_DESC AS 'Procedure Indicator',
	DIM_E_RAN_CFA_EVALUATION_CASE.EVALUATION_CASE_DESC AS 'Evaluation Case',
	DIM_E_RAN_CFA_EXCEPTION_CLASS.EXCEPTION_CLASS_DESC AS 'Exception Class',
	DIM_E_RAN_CFA_CAUSE_VALUE.CAUSE_VALUE_DESC AS 'Cause Value',
	DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE.EXTENDED_CAUSE_VALUE_DESC AS 'Extended Cause Value',
    DIM_E_RAN_CFA_SEVERITY_INDICATOR.SEVERITY_INDICATOR_DESC AS 'Severity Indicator'



from
    #REPLACE_RAW_VIEW_WITH_RAW_TABLES_WITH_TAC_EXCLUSION_AND_ROAMING_MCC_MNC($TECH_PACK_LIST.getAllRawErrTables() "rawview" $columnsToSelect)
,DIM_E_SGEH_TAC,
DIM_E_RAN_CFA_EVENTTYPE,
DIM_E_RAN_CFA_PROCEDURE_INDICATOR,
DIM_E_RAN_CFA_EVALUATION_CASE,
DIM_E_RAN_CFA_EXCEPTION_CLASS,
DIM_E_RAN_CFA_CAUSE_VALUE,
DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE,
DIM_E_RAN_CFA_SEVERITY_INDICATOR
WHERE
rawview.TAC *= DIM_E_SGEH_TAC.TAC
AND rawview.EVENT_ID = :eventID
AND rawview.PROCEDURE_INDICATOR *= DIM_E_RAN_CFA_PROCEDURE_INDICATOR.PROCEDURE_INDICATOR
AND rawview.EVALUATION_CASE *= DIM_E_RAN_CFA_EVALUATION_CASE.EVALUATION_CASE
AND rawview.EXCEPTION_CLASS *= DIM_E_RAN_CFA_EXCEPTION_CLASS.EXCEPTION_CLASS
and rawview.EVENT_ID *= DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID
AND rawview.CAUSE_VALUE *= DIM_E_RAN_CFA_CAUSE_VALUE.CAUSE_VALUE
AND rawview.EXTENDED_CAUSE_VALUE *= DIM_E_RAN_CFA_EXTENDED_CAUSE_VALUE.EXTENDED_CAUSE_VALUE
AND rawview.SEVERITY_INDICATOR *= DIM_E_RAN_CFA_SEVERITY_INDICATOR.SEVERITY_INDICATOR_ID
ORDER BY
rawview.EVENT_TIME desc