##SESSION_BROWSER SUMMARY VM (TCP_PERFORMANCE_DETAILS)
#DEFINE_CONSTANTS()
#set($columnsToSelect=["DATETIME_ID","THROUGHPUT", "SETUP_TIME_NET", "SETUP_TIME_TERM", "PACKET_LOSS_NET", "PACKET_LOSS_TERM", "DOWNLINK"])
#if($subType==$TYPE_IMSI)
    #set($filterColumn = ["IMSI"])
#elseif($subType==$TYPE_MSISDN)
    #set($filterColumn = ["MSISDN"])
#end

SELECT
    DATETIME_ID as EVENT_TIME,
	(CASE WHEN DOWNLINK = 0 THEN (CAST(ISNULL(AVG(THROUGHPUT),0) / 1000 as NUMERIC(16,4))) ELSE 0 END) AS UL_TP,
	(CASE WHEN DOWNLINK = 1 THEN (CAST(ISNULL(AVG(THROUGHPUT),0) / 1000 as NUMERIC(16,4))) ELSE 0 END) AS DL_TP,
	CAST(AVG(rawview.SETUP_TIME_NET) AS NUMERIC(16,4)) AS SETUP_TIME_NET,
    CAST(AVG(rawview.SETUP_TIME_TERM) AS NUMERIC(16,4)) AS SETUP_TIME_TERM,
	CAST(AVG(rawview.PACKET_LOSS_NET) AS NUMERIC(16,4)) AS PACKET_LOSS_NET,
    CAST(AVG(rawview.PACKET_LOSS_TERM) AS NUMERIC(16,4)) AS PACKET_LOSS_TERM
FROM
    #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "rawview" $filterColumn $columnsToSelect)
GROUP BY 
	EVENT_TIME,DOWNLINK
ORDER BY EVENT_TIME