#DEFINE_CONSTANTS()
#set($filterColumn = ["IMSI"])
#set($columnsToSelect=["EVENT_TIME","HIER3_CELL_ID_1","ECNO","RSCP","EVENT_ID","MEAS_RSLTS_ORD_NO","ADDITIONAL_EVENT_ID"])


SELECT
    dateformat(EVENT_TIME, 'yyyy-MM-dd HH:mm:ss.SSS') AS EVENT_TIME,
	EVENT_ID,
	CAST(cellRef.CELL_ID AS VARCHAR) AS SERVING_CELL_ID,
	ECNO,
	RSCP,
	MEAS_RSLTS_ORD_NO AS ORDER_NUMBER,
	ADDITIONAL_EVENT_ID
FROM
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawTables() "rawview" $filterColumn $columnsToSelect)
	LEFT OUTER JOIN
	(SELECT
		DISTINCT CID,
		CELL_ID,HIER3_CELL_ID
	 FROM
		DIM_E_SGEH_HIER321_CELL) AS cellRef
	ON(rawview.HIER3_CELL_ID_1 = cellRef.HIER3_CELL_ID)
WHERE
	MEAS_RSLTS_ORD_NO = 0
GROUP BY
	EVENT_TIME,
	EVENT_ID,
	SERVING_CELL_ID,
	ECNO,
	RSCP,
	ORDER_NUMBER,
	ADDITIONAL_EVENT_ID
ORDER BY
	EVENT_TIME