##SESSION_BROWSER SUMMARY VM (RAB_ONLY)
#set($columnsToSelect=["EVENT_TIME","RSCP_AVG","ECNO_AVG","UL_INTERFERENCE_AVG","HSDSCH_AVG_USERS"])
#DEFINE_CONSTANTS()
#if($subType==$TYPE_IMSI)
	#set($filterColumn = ["IMSI"])
#elseif($subType==$TYPE_MSISDN)
	#set($filterColumn = ["MSISDN"])
#end
SELECT
    dateformat(rawview.EVENT_TIME, 'yyyy-MM-dd HH:mm:ss.SSS') as EVENT_TIME,
	CAST(ISNULL(MEDIAN(rawview.RSCP_AVG),0) AS NUMERIC(16,1)) AS RSCP_AVG,
	CAST(ISNULL(MEDIAN(rawview.ECNO_AVG),0) AS NUMERIC(16,1)) AS ECNO_AVG,
	CAST(ISNULL(MEDIAN(rawview.UL_INTERFERENCE_AVG),0) AS NUMERIC(16,1)) AS UL_INTERFERENCE_AVG,
	CAST(ISNULL(MEDIAN(rawview.HSDSCH_AVG_USERS),0) AS INTEGER) AS HSDSCH_AVG_USERS
FROM
    #REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawTables() "rawview" $filterColumn $columnsToSelect),    
GROUP BY
	EVENT_TIME
ORDER BY
	EVENT_TIME ASC