##
## WCDMA Call Failure Analysis  - Subscriber Overview, Failed Events Analysis
##
## Velocity Parameter:
##	
##		$TECH_PACK_LIST the list of tech packs, see TechPackList's javadoc	
##
##
## Named PreparedStatement Parameter:
##	   :IMSI	   imsi to search for
##     :dateFrom   starting time
##     :dateTo     ending time

##DEFINE_CONSTANTS()


#set($columnsToSelect=["EVENT_ID","IMSI"])
select
     count(*) as 'Failures',
     DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID_ALTERNATE_DESC
from
     #REPLACE_RAW_VIEW_WITH_RAW_TABLES_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawErrTables() "rawview" $columnsToSelect)
     ,DIM_E_RAN_CFA_EVENTTYPE
     ,(SELECT IMSI FROM GROUP_TYPE_E_IMSI WHERE GROUP_NAME = :$ApplicationConstants.GROUP_NAME_PARAM group by IMSI) IMSI
where
     rawView.IMSI = IMSI.imsi
     and rawView.EVENT_ID = DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID
group by
	 DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID_ALTERNATE_DESC
order by
	DIM_E_RAN_CFA_EVENTTYPE.EVENT_ID_ALTERNATE_DESC
	   