##
## WCDMA Call Failure RAB description Analysis by Controller Hash ID (using raw tables)
##
## Velocity Parameter:
##
## Named PreparedStatement Parameter:
##
##	   :HIER3_CELL_ID:   The cell hash id
##	   :rabType The RAB Type
##
#DEFINE_CONSTANTS()
#set($whereClause = "AND HIER3_CELL_ID = :HIER3_CELL_ID AND EVENT_ID = :eventID")
#set($useExclusiveTACs="no")
#set($distinct ="")


#if($categoryId == "0")
	#set($columnsToIncludeInNewView = ["HIER3_CELL_ID", "EVENT_ID", "IMSI","CS_RAB_FAIL_CNT"])
#elseif($categoryId == "1")
	#set($columnsToIncludeInNewView = ["HIER3_CELL_ID", "EVENT_ID", "IMSI","PS_RAB_FAIL_CNT"])
#elseif($categoryId == "2")
	#set($columnsToIncludeInNewView = ["HIER3_CELL_ID", "EVENT_ID", "IMSI","MULTI_RAB_FAIL_CNT"])
#end

SELECT
	errAgg.FAILED_RAB_TYPE AS FAILED_RAB_TYPE,
	isnull(rabtyperef.RABTYPE_DESC,'Unknown') as RABTYPE_DESC,
	SUM(errAgg.NO_OF_ERRORS) AS NO_OF_ERRORS,
	SUM(subRaw.IMPACTED_SUBSCRIBERS) AS IMPACTED_SUBSCRIBERS,
	errAgg.HIER3_CELL_ID AS HIER3_CELL_ID,
	'rabType' AS filterType,
	##CATEGORY_ID value is got from UI and return to UI since it needs for drilling.
	:categoryId AS CATEGORY_ID
	##
FROM
	(
		SELECT 
			SUM(NO_OF_ERRORS) AS NO_OF_ERRORS,
			HIER3_CELL_ID,
			FAILED_RAB_TYPE
		FROM
			$aggregationView tempAgg
		WHERE
			tempAgg.HIER3_CELL_ID = :HIER3_CELL_ID
		AND tempAgg.EVENT_ID = :eventID
		and #GET_DATETIME_RANGE()
		GROUP BY
			HIER3_CELL_ID,
			FAILED_RAB_TYPE
	) as errAgg
LEFT OUTER JOIN
(
	    SELECT 
			HIER3_CELL_ID,
			count (distinct rawview.IMSI) AS IMPACTED_SUBSCRIBERS
		FROM
			#REPLACE_RAW_VIEW_WITH_RAW_TABLES_TAC_EXCLUSION_SPECIFY_COLUMNS_CONDITIONED($TECH_PACK_LIST.getAllRawErrTables() "rawview" $columnsToIncludeInNewView $whereClause $useExclusiveTACs $distinct)
		WHERE
			#if($categoryId == "0")
				CS_RAB_FAIL_CNT > 0
			#elseif($categoryId == "1")
				PS_RAB_FAIL_CNT > 0 
			#elseif($categoryId == "2")
			    MULTI_RAB_FAIL_CNT > 0
			#end
		GROUP BY
			HIER3_CELL_ID
) AS subRaw
ON(errAgg.HIER3_CELL_ID = subRaw.HIER3_CELL_ID)
LEFT OUTER JOIN
	(
		SELECT DISTINCT RABTYPE, RABTYPE_DESC FROM DIM_E_RAN_RABTYPE WHERE CATEGORY_ID_VALUE = :categoryId
	) rabtyperef
	on 
	(
		errAgg.FAILED_RAB_TYPE = rabtyperef.RABTYPE
	)
GROUP BY
	FAILED_RAB_TYPE,
	HIER3_CELL_ID,
	RABTYPE_DESC