##
## WCDMA Call Failure RAB description Analysis by TAC (using raw tables)
##
## Velocity Parameter:
##
## Named PreparedStatement Parameter:
##
##	   :TAC:   The cell hash id
##	   :rabType The RAB Type
##
#DEFINE_CONSTANTS()

#set($columnsToFilterOn=["TAC"])
#set($columnsToIncludeInNewView=["SOURCE_CONF", "IMSI", "TAC"])

SELECT
	err.SOURCE_CONF,
	isnull(rabtyperef.RABTYPE_DESC,'Unknown') as DESCRIPTION,
	count(*) as NO_OF_ERRORS,
	isnull(count(distinct(err.IMSI)),0) as TOTAL_NO_OF_SUBSCRIBERS
	#foreach ($columnToFilterOn in $columnsToFilterOn)
		,$columnToFilterOn
	#end
	, 'rabType'

FROM
	(

		#foreach ($rawtable in $TECH_PACK_LIST.getAllRawTables())
			select
				#foreach ($columnToInclude in $columnsToIncludeInNewView)
					$columnToInclude
					#if($velocityCount < $columnsToIncludeInNewView.size()),
					#end
				#end
			from dc.$rawtable
			where
			#GET_DATETIME_RANGE()
			and #GET_COLUMNS_WHERE($columnsToFilterOn)
			and #GET_TAC_EXCLUSION()
			#if($velocityCount < $TECH_PACK_LIST.getAllRawTables().size())
					union all
			#end
		#end
	) as err
	
	#if ($unknown == "Unknown")
		left join 
	#else
		join
	#end
	 
	(
		select RABTYPE, RABTYPE_DESC
		from DIM_E_RAN_RABTYPE
		
		#if ($unknown != "Unknown")
			where CATEGORY_ID_DESC = :rabType
		#end
	) rabtyperef
	on 
	(
		err.SOURCE_CONF = rabtyperef.RABTYPE
	)
	
#if ($unknown == "Unknown")
	where DESCRIPTION = 'Unknown'
#end	
	
GROUP BY
	err.SOURCE_CONF,
	#foreach ($columnToFilterOn in $columnsToFilterOn)
		$columnToFilterOn,
	#end
	RABTYPE_DESC
order by
	NO_OF_ERRORS desc