##
## Author : ECHIMMA
## LTE Call Failure Subscriber Analysis ERAB Drilldown
##
## Velocity Parameter: 
##		
## Named PreparedStatement Parameter:
##
##	:IMSI
##	:HIER321_ID
##	:HIER3_ID
##	:EVENT_TIME
##	:EVENT_ID
##
#set($condictionColumns=["EVENT_ID", "HIER3_ID", "QCI_ID"])

#if($isSetupEvent)
	#set($columnsToSelect=["HIER3_ID", "EVENT_ID", "HIER321_ID", "IMSI", "EVENT_TIME", "TAC", "SETUP_RESULT", "SETUP_REQ_QCI", "SETUP_REQ_ARP", "SETUP_REQ_PCI", "SETUP_REQ_PVI", "FAILURE_3GPP_CAUSE", "SETUP_ATT_ACC_TYPE", "SETUP_SUCC_ACC_TYPE", "SETUP_FAIL_3GPP_CAUSE_GROUP"])
	#set($resultColumns=["err.HIER3_ID", "err.HIER321_ID", "EVENT_TIME", "IMSI", "err.TAC", "VENDOR_NAME", "MARKETING_NAME", "EVENT_ID_DESC", "HIERARCHY_3", "HIERARCHY_1", "VENDOR", "'LTE' as RAT", "SETUP_RESULT_DESC", "SETUP_REQ_QCI", "SETUP_REQ_ARP", "SETUP_REQ_PCI_DESC", "SETUP_REQ_PVI_DESC", "FAILURE_3GPP_CAUSE", "SETUP_ATT_ACC_TYPE_DESC", "SETUP_SUCC_ACC_TYPE_DESC", "SETUP_FAIL_3GPP_CAUSE_GROUP_DESC"])
#else
	#set($columnsToSelect=["HIER3_ID", "EVENT_ID", "HIER321_ID", "IMSI", "RELEASE_REQ_QCI", "EVENT_TIME", "TAC", "SETUP_REQ_ARP", "SETUP_REQ_PCI", "SETUP_REQ_PVI", "DATA_LOST", "RELEASE_SUCC"])
	#set($resultColumns=["err.HIER3_ID", "err.HIER321_ID", "EVENT_TIME", "IMSI", "err.TAC", "VENDOR_NAME", "MARKETING_NAME", "EVENT_ID_DESC", "HIERARCHY_3", "HIERARCHY_1", "VENDOR", "'LTE' as RAT", "RELEASE_REQ_QCI", "SETUP_REQ_ARP", "SETUP_REQ_PCI_DESC", "SETUP_REQ_PVI_DESC", "dc.DIM_E_LTE_CFA_ERAB_DATA_LOST.DATA_LOST_DESC", "dc.DIM_E_LTE_CFA_ERAB_RELEASE_SUCC.RELEASE_SUCC_DESC"])
#end

## Temporary table to hold all topology data
select 
	* 
	into #TOPOLOGY_DATA_TABLE
from
	(	
		select
			HIERARCHY_1,
			HIERARCHY_3,
			HIER3_ID,
			HIER321_ID,
			VENDOR
		from 
			DIM_E_LTE_HIER321
		where
			HIER3_ID = :HIER3_ID
		group by
			HIER321_ID,
			HIER3_ID,
			HIERARCHY_1,
			HIERARCHY_3,
			VENDOR
	) as topology
	

select
	#if($count > 0)
	  top $count
	#end
    #GET_COLUMNS_NO_COMMA_TRAILING($resultColumns)
from
	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawTablesWithMeasurementType() "err" $condictionColumns $columnsToSelect),
	DIM_E_LTE_CFA_EVENTTYPE,
    DIM_E_LTE_CFA_ERAB_SETUP_REQ_PCI,
    DIM_E_LTE_CFA_ERAB_SETUP_REQ_PVI,
    #TOPOLOGY_DATA_TABLE as topo,
    DIM_E_SGEH_TAC as dim_tac,
	#if($isSetupEvent)
    DIM_E_LTE_CFA_ERAB_SETUP_RESULT,
    DIM_E_LTE_CFA_ERAB_SETUP_ATT_ACC_TYPE,
    DIM_E_LTE_CFA_ERAB_SETUP_SUCC_ACC_TYPE,
    DIM_E_LTE_CFA_ERAB_SETUP_FAIL_3GPP_CAUSE_GROUP
	#else
	dc.DIM_E_LTE_CFA_ERAB_DATA_LOST,
	dc.DIM_E_LTE_CFA_ERAB_RELEASE_SUCC
	#end
where
	DIM_E_LTE_CFA_EVENTTYPE.EVENT_ID = :eventID
    and err.EVENT_ID *= DIM_E_LTE_CFA_EVENTTYPE.EVENT_ID
    and err.SETUP_REQ_PCI *= DIM_E_LTE_CFA_ERAB_SETUP_REQ_PCI.SETUP_REQ_PCI
    and err.SETUP_REQ_PVI *= DIM_E_LTE_CFA_ERAB_SETUP_REQ_PVI.SETUP_REQ_PVI
	and err.HIER321_ID *= topo.HIER321_ID
    and err.TAC *= dim_tac.TAC
	#if($isSetupEvent)
    and err.SETUP_RESULT *= DIM_E_LTE_CFA_ERAB_SETUP_RESULT.SETUP_RESULT
    and err.SETUP_ATT_ACC_TYPE *= DIM_E_LTE_CFA_ERAB_SETUP_ATT_ACC_TYPE.SETUP_ATT_ACC_TYPE
    and err.SETUP_SUCC_ACC_TYPE *= DIM_E_LTE_CFA_ERAB_SETUP_SUCC_ACC_TYPE.SETUP_SUCC_ACC_TYPE
    and err.SETUP_FAIL_3GPP_CAUSE_GROUP *= DIM_E_LTE_CFA_ERAB_SETUP_FAIL_3GPP_CAUSE_GROUP.SETUP_FAIL_3GPP_CAUSE_GROUP
	#else
	and err.RELEASE_SUCC *= dc.DIM_E_LTE_CFA_ERAB_RELEASE_SUCC.RELEASE_SUCC
	and err.DATA_LOST *= dc.DIM_E_LTE_CFA_ERAB_DATA_LOST.DATA_LOST
    #end