select
    EVENT_ID_DESC,
	CAUSE_CODE,
	CAUSE_CODE_DESC
from
    dc.DIM_E_LTE_CFA_CAUSE_CODE  
	inner join dc.DIM_E_LTE_CFA_EVENTTYPE 
		on dc.DIM_E_LTE_CFA_CAUSE_CODE.EVENT_ID = dc.DIM_E_LTE_CFA_EVENTTYPE.EVENT_ID
	where CAUSE_CODE is not null