#set($columnsToIncludeInSourceView=["HIER3_CELL_ID"])
#set($counterColumn="NO_OF_ERRORS")

SELECT
    #if($count > 0) top $count #end RANK() over (ORDER BY Failures DESC) AS rank,
    DIM_E_SGEH_RAT.RAT_DESC                                              AS 'RAT',
    topology.RAT                                                         AS 'RAT ID',
    topology.VENDOR                                                      AS 'RAN Vendor',
    topology.HIERARCHY_3                                                 AS 'Controller',
    topology.CELL_ID                                                     AS 'Access Area',
    sourceAggView.NO_OF_ERRORS                                           AS 'Failures'
FROM
    #UNION_ALL_AGGREGATION_VIEWS_WITH_SPECIFIC_COLUMNS_POST_AGGREGATE($aggregationViewList "sourceAggView" $columnsToIncludeInSourceView $counterColumn)
LEFT OUTER JOIN
    (
        SELECT DISTINCT
            RAT,
            HIER3_CELL_ID,
            VENDOR,
            HIERARCHY_3,
            CELL_ID
        FROM
            DIM_E_SGEH_HIER321_CELL
        UNION
        SELECT DISTINCT
            RAT,
            HIER3_CELL_ID,
            VENDOR,
            HIERARCHY_3,
            CELL_ID
        FROM
            DIM_Z_SGEH_HIER321_CELL
    ) AS topology(RAT, HIER3_CELL_ID, VENDOR, HIERARCHY_3, CELL_ID)
ON
    (
        sourceAggView.HIER3_CELL_ID = topology.HIER3_CELL_ID
    )
INNER JOIN DIM_E_SGEH_RAT
ON
    (
        topology.RAT = DIM_E_SGEH_RAT.RAT
    )