#set($columnsToIncludeInNewView=["TAC","NO_OF_ERRORS"])
select
	#if($count > 0)
	  top $count
	#end
	RANK()
	over (ORDER BY Failures DESC) AS Rank,
	DIM_E_SGEH_TAC.MANUFACTURER AS Manufacturer,
	DIM_E_SGEH_TAC.MARKETING_NAME AS Model,
	aggview.TAC,
	SUM(aggview.NO_OF_ERRORS) AS Failures
from
	#UNION_ALL_AGGREGATION_VIEWS_WITH_SPECIFIC_COLUMNS($aggregationViewList "aggview" $columnsToIncludeInNewView),
	DIM_E_SGEH_TAC
where	
	aggview.TAC = DIM_E_SGEH_TAC.TAC	
GROUP BY
	DIM_E_SGEH_TAC.MANUFACTURER,
	DIM_E_SGEH_TAC.MARKETING_NAME,
	aggview.TAC