##
## Author : ECHIMMA
## LTE Call Failure Analysis IMSI Ranking (using raw tables)
##
## Velocity Parameter: 
##		
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##

SELECT
	#if($count > 0)
	  top $count
	#end
	AGG_TABLE.HIER321_ID as 'HIER321_ID',
	AGG_TABLE.HIER3_ID as 'HIER3_ID',
	rank() over (order by Failures desc) as 'Rank',
	VENDOR as 'Vendor',
	HIERARCHY_3 as 'eNodeB',
	HIERARCHY_1 as 'Access Area',
	FAILURES as 'Failures',
	'LTE' as 'Radio Access Type'
FROM
	(
		SELECT
			SUM(NO_OF_ERRORS) as FAILURES,
			HIER321_ID,
			HIER3_ID
		from
			$aggregationView
		WHERE
			CATEGORY_ID = $CATEGORY_ID AND
			#GET_DATETIME_RANGE()
		GROUP BY
			HIER321_ID,
			HIER3_ID
	) as AGG_TABLE
LEFT OUTER JOIN
	(
		SELECT
			HIER321_ID, HIER3_ID, HIERARCHY_1, HIERARCHY_3, VENDOR
		FROM
			DIM_E_LTE_HIER321
		GROUP BY
			HIER321_ID, HIER3_ID, HIERARCHY_1, HIERARCHY_3, VENDOR
	) as TOPO_TABLE
ON
	AGG_TABLE.HIER321_ID = TOPO_TABLE.HIER321_ID AND
	AGG_TABLE.HIER3_ID = TOPO_TABLE.HIER3_ID