##
## LTE Call Failure Analysis enodeB category based Event Analysis (using raw tables)
##
##
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time#

#set($conditionColumns=["HIER3_ID"])
#set($columnsToSelect=["CATEGORY_ID", "IMSI"])

SELECT 
	:HIER3_ID as HIER3_ID,
	data.CATEGORY_ID AS 'Category ID', 
	topology.VENDOR as 'Vendor',
	topology.HIERARCHY_3 'Controller',		
	eventDesc.CATEGORY_ID_DESC as 'Category Type',
	FAILURES as 'Failures', 
	IMPACTED_SUBSCRIBERS as 'Impacted Subscribers'
FROM 	
	(	
		select 
			count (*),
			:HIER3_ID as HIER3_ID,
			CATEGORY_ID,
			count (distinct rawview.IMSI)
		from 
			#REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS($TECH_PACK_LIST.getAllRawTables() "rawview" $conditionColumns $columnsToSelect)
		group by
			CATEGORY_ID
	) as data(FAILURES, HIER3_ID, CATEGORY_ID, IMPACTED_SUBSCRIBERS) 
	left outer join
	 (	
		select 
			HIERARCHY_3,
			HIER3_ID,
			VENDOR
		from 
			dc.DIM_E_LTE_HIER321
		where
			HIER3_ID = :HIER3_ID
		group by
			HIER3_ID,
			HIERARCHY_3,
			VENDOR
	) as topology
	on (
		topology.HIER3_ID = data.HIER3_ID
		)
	inner join	
	(
		 select 
			CATEGORY_ID,
			CATEGORY_ID_DESC
		from 
			dc.DIM_E_LTE_CFA_EVENTTYPE
		group by
			CATEGORY_ID,
			CATEGORY_ID_DESC
	)	as eventDesc
	on(
		eventDesc.CATEGORY_ID = data.CATEGORY_ID
	)
order by data.CATEGORY_ID DESC