#DEFINE_CONSTANTS()
#set($columns=["HIER3_ID"])

#if(${type}==$TYPE_BSC)
#set($columns=["HIER3_ID"])
#elseif(${type}==$TYPE_CELL)
#set($columns=["HIER321_ID"])
#end

#set($notNullColumns=["HIER321_ID"])
#set($columnsToIncludeInNewView=["HIER321_ID"])
#set($groupbyColumns=["DOWNLINK","HIER321_ID"])
#set($userPlaneTableList=$TECH_PACK_LIST.getTechPack($ApplicationConstants.EVENT_E_USER_PLANE_TPNAME).getRawTablesWithMeasurementTypes())


SELECT
	cellRef.CID AS CID,
	cellRef.RAT AS RAT,
	cellRef.VENDOR AS VENDOR,
	cellRef.HIERARCHY_3 AS HIERARCHY_3,
	cellRef.CELL_ID AS CELL_NAME,
    #GET_UKPI_SAMPLES_AND_VALUES()
FROM
   #USERPLANE_KPI_REPLACE_RAW_VIEW_WITH_RAW_TABLES_AND_FILTER_COLUMNS_WITH_TAC_EXCLUSION_SPECIFY_COLUMNS_PLUS_GROUPBY($userPlaneTableList "rawview" $columns $columnsToIncludeInNewView $notNullcolumns $groupbyColumns)
	 INNER JOIN
			dc.DIM_E_SGEH_HIER321_CELL cellRef
	  ON
	  (
		 rawview.HIER321_ID = cellRef.HIER321_ID
	  )
GROUP BY 
    CELL_ID,
	RAT,
	VENDOR,
	HIERARCHY_3,
	CID
