## LTE Handover Failure Analysis Terminal Ranking (using aggregation tables)
##
## Velocity Parameter: 
##		
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time
##
	
SELECT
	#if($count > 0)
	  top $count
	#end
	RANK()
	over (ORDER BY Failures DESC) AS Rank,
	$CATEGORY_ID_2 as 'Category ID',
	DIM_E_SGEH_TAC.VENDOR_NAME AS 'Terminal Make',
	DIM_E_SGEH_TAC.MARKETING_NAME 'AS Terminal Model',
	AGG_TABLE.TAC as TAC,
	AGG_TABLE.FAILURES AS Failures
FROM
	(
		SELECT
			TAC,
			SUM(NO_OF_ERRORS) AS FAILURES			
		FROM
			$aggregationView
		WHERE
			CATEGORY_ID_2 = :CATEGORY_ID_2 AND
			#GET_DATETIME_RANGE()
		GROUP BY
			TAC
	) AGG_TABLE
 JOIN
	DIM_E_SGEH_TAC
ON
	AGG_TABLE.TAC = DIM_E_SGEH_TAC.TAC
