##=============================================================================
##
## Cause code query returning all codes for the wcdma cfa cause code table
##
##=============================================================================
select
    CAUSE_VALUE,
    CAUSE_VALUE_DESC
from
    dc.DIM_E_RAN_CFA_CAUSE_VALUE
order by
    CAUSE_VALUE