##
## WCDMA Call Failure Analysis controller group Cause Code Summary (using raw tables)
##
##
## Named PreparedStatement Parameter:
##
##     :dateFrom   starting time
##     :dateTo     ending time#

SELECT
	err.CAUSE_CODE as 'Cause Code ID',
	err.CAUSE_CODE_DESC as 'Cause Code Description',
	count(*) as NO_OF_ERRORS,
	isnull(count(distinct(err.IMSI)),0) as 'Impacted Subscribers',
	:groupname as 'groupname'
FROM
(
	#foreach ($errtable in $TECH_PACK_LIST.getAllRawTables())
		(
        SELECT
        	cvref.CAUSE_VALUE,
        	CAUSE_VALUE_DESC,
        	IMSI
        FROM
        	dc.${errtable} errRef,
        	dc.DIM_E_RAN_CFA_CAUSE_VALUE cvref,
        	dc.GROUP_TYPE_E_RAT_VEND_HIER3 controllerGroup
        WHERE
        	#GET_DATETIME_RANGE()
        	and controllerGroup.GROUP_NAME = :groupname
        	and controllerGroup.HIER3_ID = errRef.HIER3_ID	 
        	AND #GET_TAC_EXCLUSION()
        	AND cvref.CAUSE_VALUE = errRef.CAUSE_VALUE
			#if ($display == "chart")
				AND
				cvref.CAUSE_VALUE  in ($causeCodeIds)
			#end
        )
		#if($velocityCount < $TECH_PACK_LIST.getAllRawTables().size())
			UNION ALL
		#end
	#end
) AS err (CAUSE_CODE, CAUSE_CODE_DESC, IMSI)
GROUP BY
	err.CAUSE_CODE,
	err.CAUSE_CODE_DESC
order by
	err.CAUSE_CODE,
	NO_OF_ERRORS desc
			