##=============================================================================
##
## Event Analysis: Percentage ratio/KPI drilldown
##
## Description: 
##
## Velocity Parameters:
##
## type : APN
##
## drilltype : one of {APN, SGSN, BSC, CELL}
##
##
## Named Prepared Statement Parameters:
##
##    :dateFrom starting time
##    :dateTo ending time
##    :$ApplicationConstants.SGSN_PARAM 
##    :$SGSN
##    :$BSC
##    :$RAT
##    :$VENDOR
##    :$CELL
##
##=============================================================================

#DEFINE_CONSTANTS()

#if(${drilltype} == $TYPE_APN )
    #set($columns=[$SGSN])
	#set($columnsToSelectErrorRAW=[$SGSN, $IMSI])
	#set($conditionToSelectErrorRAW="and $EVENT_ID = :$ApplicationConstants.EVENT_ID_PARAM and $APN = :$APN")
	#set($columnsToSelectAsResult=":$APN, $SGSN, :$ApplicationConstants.EVENT_ID_PARAM, EVENT_ID_DESC, NO_OF_ERRORS, NO_OF_SUCCESSES, OCCURRENCES, KPI, NO_OF_TOTAL_ERR_SUBSCRIBERS")
    #set($agg_t_SGEH="EVENT_E_SGEH_APN_EVENTID_EVNTSRC")
    #set($agg_t_LTE="EVENT_E_LTE_APN_EVENTID_EVNTSRC")
	#set($ccscc=false)
	#set($useRawSuc=false)
#elseif(${drilltype} == $TYPE_SGSN )
    #set($columns=[$RAT,$VENDOR, $BSC])
	#set($columnsToSelectErrorRAW=[$RAT, $VENDOR, $BSC, $IMSI])
	#set($conditionToSelectErrorRAW="and $EVENT_ID = :$ApplicationConstants.EVENT_ID_PARAM and $APN = :$APN and $SGSN = :$SGSN")
	#set($columnsToSelectAsResult="KPI_RATIO_RESULT.RAT, :$APN, :$SGSN, $VENDOR, $BSC, RAT_DESC, :$ApplicationConstants.EVENT_ID_PARAM, EVENT_ID_DESC, NO_OF_ERRORS, NO_OF_SUCCESSES, OCCURRENCES, KPI, NO_OF_TOTAL_ERR_SUBSCRIBERS")
	#set($agg_t_SGEH="EVENT_E_SGEH_APN_EVENTID_EVNTSRC_VEND_HIER3")
    #set($agg_t_LTE="EVENT_E_LTE_APN_EVENTID_EVNTSRC_VEND_HIER3")
	#set($ccscc=false)
	#set($useRawSuc=false)
#elseif(${drilltype} == $TYPE_BSC)
    #set($columns=[$CELL])
	#set($columnsToSelectErrorRAW=[$CELL, $IMSI])
	#set($conditionToSelectErrorRAW="and $EVENT_ID = :$ApplicationConstants.EVENT_ID_PARAM and $APN = :$APN and $SGSN = :$SGSN and $BSC = :$BSC and $RAT = :$RAT and $VENDOR = :$VENDOR")
	#set($columnsToSelectAsResult=":$RAT, :$APN, :$SGSN, :$VENDOR, :$BSC, $CELL, RAT_DESC, :$ApplicationConstants.EVENT_ID_PARAM, EVENT_ID_DESC, NO_OF_ERRORS, NO_OF_SUCCESSES, OCCURRENCES, KPI, NO_OF_TOTAL_ERR_SUBSCRIBERS")
	#set($agg_t_SGEH="EVENT_E_SGEH_VEND_HIER321_EVENTID")
    #set($agg_t_LTE="EVENT_E_LTE_VEND_HIER321_EVENTID")
	#set($ccscc=false)
	#set($useRawSuc=true)
#elseif(${drilltype} == $TYPE_CELL)
    #set($columns=[$CAUSE_CODE, $SUBCAUSE_CODE])
	#set($columnsToSelectErrorRAW=[$CAUSE_CODE, $SUBCAUSE_CODE, $IMSI])
	#set($conditionToSelectErrorRAW="and $EVENT_ID = :$ApplicationConstants.EVENT_ID_PARAM and $APN = :$APN and $SGSN = :$SGSN and $BSC = :$BSC and $RAT = :$RAT and $VENDOR = :$VENDOR and $CELL = :$CELL")
	##set($columnsToSelectAsResult=":$RAT, :$APN, :$SGSN, :$VENDOR, :$BSC, :$CELL, $CAUSE_CODE, $SUBCAUSE_CODE, RAT_DESC, :$ApplicationConstants.EVENT_ID_PARAM, EVENT_ID_DESC, NO_OF_ERRORS, NO_OF_TOTAL_ERR_SUBSCRIBERS")
    #set($columnsToSelectAsResult=":$RAT, :$APN, :$SGSN, :$VENDOR, :$BSC, :$CELL, CAUSE_CODE, SUBCAUSE_CODE, CAUSE_CODE_DESC, SUBCAUSE_CODE_DESC, RAT_DESC, :$ApplicationConstants.EVENT_ID_PARAM, EVENT_ID_DESC, NO_OF_ERRORS, NO_OF_TOTAL_ERR_SUBSCRIBERS")
    #set($ccscc=true)
	#set($useRawSuc=false)
#end

#set ($sucviewSGEH="${agg_t_SGEH}_SUC$sucTimerange")
#set ($sucviewLTE="${agg_t_LTE}_SUC$sucTimerange")
#set ($useExclusiveTAC="no")

SELECT 
 $columnsToSelectAsResult
FROM (
	#KPI_RATIO_QUERY_FOR_DATA_TIERED($columns $ApplicationConstants.SGEH $sucviewSGEH $techPackTablesSGEH.getErrTables() $techPackTablesSGEH.getSucTables() $useRawSuc $ccscc)
	#if($techPackTablesLTE.getErrTables().size() > 0)
		union all
	#KPI_RATIO_QUERY_FOR_DATA_TIERED($columns $ApplicationConstants.LTE $sucviewLTE $techPackTablesLTE.getErrTables() $techPackTablesLTE.getSucTables() $useRawSuc $ccscc)
	#end
	) as KPI_RATIO_RESULT
	#if(${drilltype} != $TYPE_APN)
	,DIM_E_SGEH_RAT ratref
WHERE
	#if(${drilltype} == $TYPE_SGSN )
	KPI_RATIO_RESULT.RAT = ratref.RAT
	#else
	ratref.RAT = :$RAT
	#end
	#end
ORDER BY
#if($ccscc)
NO_OF_ERRORS
#else
KPI
#end