##=============================================================================
##
## Ranking
##
## Description: 
## Ranking query that queries the aggregation tables for ranking results
##  
## Velocity parameter:
##
## type : TAC
##  
## count : number of rows returned
## techPackTables: see javadoc on TechPackTables
## 
##
## ## Named PreparedStatement Parameter:
##
##    :dateFrom - starting time
##    :dateTo - ending time
##  
##=============================================================================
#macro(SELECT_DATA_TIERED_RANKING_DATA $columns $errRawTable $sucAggTable $useExclusiveTAC)
SELECT
	#GET_NOT_NULL_COLUMN(["temp_err", "temp_suc"] $columns)
    MAX(isnull(NO_OF_ERRORS, 0))                       AS NO_OF_ERRORS,
    MAX(isnull(NO_OF_SUCCESSES,0))                     AS NO_OF_SUCCESSES
FROM
    (select
        #GET_COLUMNS($columns)
        count(*) as NO_OF_ERRORS
    from	
    	#REPLACE_RAW_VIEW_WITH_RAW_TABLES_TAC_EXCLUSION_SPECIFY_COLUMNS_CONDITIONED($errRawTable "err" $columns "" $useExclusiveTAC "")
    group by
    	#GET_COLUMNS_NO_COMMA_TRAILING($columns)
    ) as temp_err (#GET_COLUMNS($columns) NO_OF_ERRORS)
FULL OUTER JOIN
    (select
        #GET_COLUMNS($columns)
        sum(NO_OF_SUCCESSES)
    from		
    	$sucAggTable
    where
    	#GET_DATETIME_RANGE()
    group by
        #GET_COLUMNS_NO_COMMA_TRAILING($columns)
    	) as temp_suc (#GET_COLUMNS($columns) NO_OF_SUCCESSES)
ON(
    #GET_JOIN("temp_err" "temp_suc" $columns)
)
GROUP BY
	#GET_COLUMNS_WITH_TABLE_NAMES(["temp_err", "temp_suc"] $columns)
#end

#DEFINE_CONSTANTS()
#set($removeExclusiveTAC="true")

SELECT 
	#if($count > 0)
	  top $count
	#end
	rank() over (order by NO_OF_ERRORS desc) as RANK,
	tac_ref.MANUFACTURER as MANUFACTURER, 
    tac_ref.Marketing_Name as MARKETING_NAME,    
    #GET_COLUMNS_BY_TABLE("temp_result" $columnsForQuery)
	sum(NO_OF_ERRORS) as NO_OF_ERRORS,    
    sum(NO_OF_SUCCESSES) as NO_OF_SUCCESSES
FROM
	(
	#foreach($techPack in $TECH_PACK_LIST.getTechPacks())
   		#SELECT_DATA_TIERED_RANKING_DATA($columnsForQuery $techPack.getRawErrTables() $techPack.getSucAggregationView() $removeExclusiveTAC)
		#if($velocityCount < $TECH_PACK_LIST.getTechPacks().size())
	union all
		#end
	#end
	) AS temp_result
	, DIM_E_SGEH_TAC tac_ref
WHERE 
	tac_ref.TAC = temp_result.TAC
GROUP BY
	#GET_COLUMNS_BY_TABLE("temp_result" $columnsForQuery)
	MANUFACTURER, 
    MARKETING_NAME    
