#DEFINE_CONSTANTS()

#macro(CCAS_QUERY $errTable $ccTable)
(
select	
	ccref.CAUSE_CODE as CAUSE_CODE, 
	CAUSE_CODE_DESC as CAUSE_CODE_DESC
from
	dc.${errTable} errRef,
	dc.${ccTable} ccref
	#GROUP_TABLE_INFO()
where
	#GET_DATETIME_RANGE()
	#GROUP_OR_SINGLE_INFO()
	#if(!$useAggregationTables)
		and #GET_TAC_EXCLUSION()
	#end
	and ccref.CAUSE_CODE = errRef.CAUSE_CODE
	and ccref.CAUSE_PROT_TYPE = errRef.CAUSE_PROT_TYPE
)
#end

select
	err.CAUSE_CODE as CAUSE_CODE,
    err.CAUSE_CODE_DESC as CAUSE_CODE_DESC
from 
(
	#foreach ($errtable in $rawErrTables)
		#if ($errtable.toString().indexOf($ApplicationConstants.SGEH) > -1)
			#CCAS_QUERY($errtable $ccRefForSgeh)	
		#else
			#CCAS_QUERY($errtable $ccRefForLte)
		#end
		#if($velocityCount < $rawErrTables.size())
			union all
		#end
	#end
) as err (CAUSE_CODE, CAUSE_CODE_DESC)
group by
	CAUSE_CODE,
	CAUSE_CODE_DESC
order by
	CAUSE_CODE