##
## WCDMA Call Failure Cause Code Analysis by Terminal (using raw tables)
##
## Velocity Parameter:
##
## Named PreparedStatement Parameter:
##
##	   :TAC:   The terminal hash id
##
#DEFINE_CONSTANTS()

#set($columnsToFilterOn=["TAC"])
#set($columnsToIncludeInNewView=["RAN_DISCONNECTION_CODE","RAN_DISCONNECTION_SUBCODE", "IMSI", "TAC"])

SELECT
	err.RAN_DISCONNECTION_CODE,
	isnull(disconref.DISCONNECTION_DESC, 'Disconnection Code: ' || isnull(ltrim(str(isnull(err.RAN_DISCONNECTION_CODE,null))),'Unknown')) as DISCONNECTION_DESCRIPTION,
	sum(err.NO_OF_ERRORS) as NO_OF_ERRORS,
	isnull(count(distinct(err.IMSI)),0) as TOTAL_NO_OF_SUBSCRIBERS
	#foreach ($columnToFilterOn in $columnsToFilterOn)
		,$columnToFilterOn
	#end
	, 'disConCode'

FROM
	(

		#foreach ($rawtable in $TECH_PACK_LIST.getAllRawTables())
			select
				count(*)	as NO_OF_ERRORS,
				#foreach ($columnToInclude in $columnsToIncludeInNewView)
					$columnToInclude
					#if($velocityCount < $columnsToIncludeInNewView.size()),
					#end
				#end
			from dc.$rawtable
			where
			#GET_DATETIME_RANGE()
			and #GET_COLUMNS_WHERE($columnsToFilterOn)
			and #GET_TAC_EXCLUSION()
			group by
				#GET_COLUMNS_NO_COMMA_TRAILING($columnsToIncludeInNewView)
			#if($velocityCount < $TECH_PACK_LIST.getAllRawTables().size())
					union all
			#end
		#end
	) as err
left join dc.DIM_E_RAN_CFA_DISCONNECTION disconref
on (
	err.RAN_DISCONNECTION_CODE = disconref.DISCONNECTION_CODE and err.RAN_DISCONNECTION_SUBCODE = disconref.DISCONNECTION_SUB_CODE
)
GROUP BY
	err.RAN_DISCONNECTION_CODE,
	err.RAN_DISCONNECTION_SUBCODE,
	#foreach ($columnToFilterOn in $columnsToFilterOn)
		$columnToFilterOn,
	#end
	DISCONNECTION_DESC
	
order by
	NO_OF_ERRORS desc		